<a href="https://colab.research.google.com/github/Leonel58/R/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### OPERAR LOS DATOS DE UN DATASET

In [ ]:
import pandas as pd

In [ ]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\TELECOM_CHURN_DATASET\\VISUALIZACION_CHURN_MODEL.csv"

In [ ]:
CHURN = pd.read_csv(RUTA)

In [ ]:
CHURN

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
 CHURN_COL = CHURN[["State"]].copy()

In [ ]:
 CHURN_COL

    State
0      LA
1      IN
2      NY
3      SC
4      HI
..    ...
662    WI
663    AL
664    VT
665    WV
666    CT

[667 rows x 1 columns]

In [ ]:
CHURN_COL2 = CHURN[["Account length", "Area code", "International plan"]].copy()

In [ ]:
CHURN_COL2

     Account length  Area code International plan
0               117        408                 No
1                65        415                 No
2               161        415                 No
3               111        415                 No
4                49        510                 No
..              ...        ...                ...
662             114        415                 No
663             106        408                 No
664              60        415                 No
665             159        415                 No
666             184        510                Yes

[667 rows x 3 columns]

In [ ]:
CHURN_COL3 = CHURN[["Total eve minutes","Total eve calls","Total eve charge","Total night minutes"]].copy()

In [ ]:
CHURN_COL3

     Total eve minutes  Total eve calls  Total eve charge  Total night minutes
0                351.6               80             29.89                215.8
1                228.5               83             19.42                208.8
2                317.8               97             27.01                160.6
3                137.3              102             11.67                189.6
4                215.1              109             18.28                178.7
..                 ...              ...               ...                  ...
662              155.7              125             13.23                247.6
663              203.9              131             17.33                229.5
664               85.0              110              7.23                210.1
665              197.7              105             16.80                193.7
666              159.6               84             13.57                139.2

[667 rows x 4 columns]

In [ ]:
CHURN_COL2

     Account length  Area code International plan
0               117        408                 No
1                65        415                 No
2               161        415                 No
3               111        415                 No
4                49        510                 No
..              ...        ...                ...
662             114        415                 No
663             106        408                 No
664              60        415                 No
665             159        415                 No
666             184        510                Yes

[667 rows x 3 columns]

In [ ]:
CHURN.columns.tolist()

['State',
 'Account length',
 'Area code',
 'International plan',
 'Voice mail plan',
 'Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls',
 'Churn']

In [ ]:
CHURN_COND = CHURN[(CHURN["State"]== "KS") | (CHURN["Total day charge"]>40)].copy()

In [ ]:
CHURN_COND.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
11,HI,85,415,No,No,0,235.8,109,40.09,157.2,94,13.36,188.2,99,8.47,12.0,3,3.24,0,False
16,ID,77,415,No,No,0,251.8,72,42.81,205.7,126,17.48,275.2,109,12.38,9.8,7,2.65,2,True
19,MI,36,510,No,Yes,29,281.4,102,47.84,202.2,76,17.19,187.2,113,8.42,9.0,6,2.43,2,False
22,ID,97,408,No,No,0,239.8,125,40.77,214.8,111,18.26,143.3,81,6.45,8.7,5,2.35,2,False

In [ ]:
CHURN.iloc[1:20,2:6].copy()

    Area code International plan Voice mail plan  Number vmail messages
1         415                 No              No                      0
2         415                 No              No                      0
3         415                 No              No                      0
4         510                 No              No                      0
5         408                 No             Yes                     30
6         415                 No              No                      0
7         415                 No              No                      0
8         408                 No              No                      0
9         415                 No              No                      0
10        510                 No             Yes                     33
11        415                 No              No                      0
12        415                 No              No                      0
13        510                 No             Yes                     29
14        415                 No              No                      0
15        415                 No              No                      0
16        415                 No              No                      0
17        415                 No              No                      0
18        408                 No              No                      0
19        510                 No             Yes                     29

In [ ]:
CHURN.loc[[90,95,100,102,150,100,302,504,99],["Account length","Area code","International plan",
                         "Voice mail plan","Number vmail messages","Total day minutes"]]

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes
90,144,415,No,Yes,18,106.4
95,78,415,No,No,0,208.9
100,92,415,No,No,0,154.0
102,87,510,No,No,0,231.3
150,156,415,No,No,0,178.8
100,92,415,No,No,0,154.0
302,182,415,No,No,0,176.1
504,101,415,No,No,0,154.4
99,126,415,No,Yes,23,114.3

In [ ]:
CHURN.loc[[504],["Area code","Total night minutes","Number vmail messages"]].copy()

     Area code  Total night minutes  Number vmail messages
504        415                185.4                      0

In [ ]:
CHURN_1 = CHURN.loc[[601,603,650],[ "State","Account length","Area code","International plan",
            "Voice mail plan","Number vmail messages"]].copy()

CHURN_1.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages
601,KY,64,415,Yes,No,0
603,MA,142,408,No,No,0
650,WY,148,408,No,No,0

In [ ]:
CHURN_1["Columna_Nueva"] = CHURN_1["Account length"] + 3

In [ ]:
CHURN_1

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Columna_Nueva
601,KY,64,415,Yes,No,0,67
603,MA,142,408,No,No,0,145
650,WY,148,408,No,No,0,151

In [ ]:
CHURN_1[["COLUMNA_2"]]=CHURN_1[["Account length"]]+5

In [ ]:
CHURN_1

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Columna_Nueva,COLUMNA_2
601,KY,64,415,Yes,No,0,67,69
603,MA,142,408,No,No,0,145,147
650,WY,148,408,No,No,0,151,153

In [ ]:
CHURN_1.loc[[601],["State"]]

    State
601    KY

In [ ]:
CHURN_1.loc[[650],["State"]]

    State
650    WY

In [ ]:
CHURN

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
CHURN.loc[[100,150,300,450],["Voice mail plan","Number vmail messages",
                            "Total day minutes","Total day calls"]].copy()

    Voice mail plan  Number vmail messages  Total day minutes  Total day calls
100              No                      0              154.0              122
150              No                      0              178.8               94
300              No                      0              165.6              104
450              No                      0              154.6               56

In [ ]:
CHURN

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
CHURN_1 = CHURN[["State"]].copy()
CHURN_1.head(3)

  State
0    LA
1    IN
2    NY

In [ ]:
CHURN_2 = CHURN[["Account length","Area code"]].copy()
CHURN_2.head(4)

   Account length  Area code
0             117        408
1              65        415
2             161        415
3             111        415

In [ ]:
CHURN_3 = CHURN[["Number vmail messages","Total day minutes","Total day calls",
                 "Total day charge","Total eve minutes","Total eve calls","Total eve charge",
                 "Total night minutes"]].copy()
CHURN_3.head(10)

,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes
0,0,184.5,97,31.37,351.6,80,29.89,215.8
1,0,129.1,137,21.95,228.5,83,19.42,208.8
2,0,332.9,67,56.59,317.8,97,27.01,160.6
3,0,110.4,103,18.77,137.3,102,11.67,189.6
4,0,119.3,117,20.28,215.1,109,18.28,178.7
5,30,146.3,128,24.87,162.5,80,13.81,129.3
6,0,211.3,120,35.92,162.6,122,13.82,134.7
7,0,159.1,114,27.05,231.3,117,19.66,143.2
8,0,186.1,112,31.64,190.2,66,16.17,282.8
9,0,148.8,70,25.30,246.5,164,20.95,129.8

In [ ]:
CHURN.columns.tolist()

['State',
 'Account length',
 'Area code',
 'International plan',
 'Voice mail plan',
 'Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls',
 'Churn']

In [ ]:
LISTA = ['State',
 'Account length',
 'Area code',
 'International plan',
 'Voice mail plan',
 'Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls',
 'Churn']

CHURN_NUEVO = CHURN[LISTA].copy()
CHURN_NUEVO.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
CHURN_NUEVO.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
CHURN_NUEVO.loc[[100,200,350,452,650],["Area code"]]

     Area code
100        415
200        415
350        415
452        415
650        408

#### SUBCONJUNTO DE FILAS MEDIANTE SLICING

In [ ]:
CHURN_NUEVO[120:199][["Total day minutes"]].copy()

     Total day minutes
120              142.3
121              146.2
122              231.8
123              220.7
124              128.2
..                 ...
194              174.4
195              153.8
196              175.7
197              155.9
198              154.4

[79 rows x 1 columns]

In [ ]:
CHURN_NUEVO[120:250][["Total day charge","Total eve minutes","Total eve calls","Total eve charge"]].copy()

     Total day charge  Total eve minutes  Total eve calls  Total eve charge
120             24.19              118.7               56             10.09
121             24.85              261.5               83             22.23
122             39.41              150.6              106             12.80
123             37.52              217.7              110             18.50
124             21.79              274.5              113             23.33
..                ...                ...              ...               ...
245             29.51               91.7               84              7.79
246             18.12              147.4               89             12.53
247             17.56              245.9              123             20.90
248             21.35              213.0               90             18.11
249             33.88              224.2               92             19.06

[130 rows x 4 columns]

In [ ]:
CHURN_NUEVO[:30].copy()
CHURN_NUEVO.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
CHURN_FIL = CHURN_NUEVO[:20].copy()
CHURN_FIL.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
CHURN.shape

(667, 20)

In [ ]:
CHURN_FIL = CHURN_NUEVO[650:].copy()
CHURN_FIL

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
650,WY,148,408,No,No,0,243.0,115,41.31,191.8,91,16.30,117.8,93,5.30,13.4,5,3.62,2,False
651,OK,138,510,No,Yes,33,155.2,139,26.38,268.3,79,22.81,186.4,71,8.39,9.7,4,2.62,3,False
652,WA,84,415,No,No,0,289.1,100,49.15,233.8,97,19.87,223.5,148,10.06,12.7,2,3.43,2,True
653,MD,133,510,No,No,0,295.0,141,50.15,223.6,101,19.01,229.4,109,10.32,12.9,4,3.48,2,True
654,NY,120,510,No,Yes,27,128.5,115,21.85,163.7,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False
655,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,False
656,AK,99,510,No,No,0,238.4,96,40.53,246.5,130,20.95,198.4,117,8.93,12.4,4,3.35,3,False
657,AZ,48,415,No,Yes,27,141.1,109,23.99,224.7,94,19.10,174.3,122,7.84,13.2,2,3.56,1,False
658,KS,57,415,No,No,0,158.1,117,26.88,115.2,149,9.79,182.4,92,8.21,11.8,7,3.19,0,False
659,CA,127,510,No,No,0,107.9,128,18.34,187.0,77,15.90,218.5,95,9.83,0.0,0,0.00,0,False
660,IN,114,408,No,No,0,203.8,85,34.65,87.8,110,7.46,166.2,122,7.48,11.7,4,3.16,1,False
661,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
CHURN_FIL = CHURN_NUEVO[:].copy()
CHURN_FIL

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

##### SUBCONJUNTO MEDIANTE CONDICICIONES

In [ ]:
CHURN_CONDIC = CHURN_FIL[CHURN_FIL["State"]== "KS"].copy()
CHURN_CONDIC.head(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
47,KS,92,408,Yes,No,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,True
128,KS,121,408,No,No,0,150.7,105,25.62,197.3,133,16.77,169.0,116,7.61,9.2,15,2.48,1,False
141,KS,116,510,No,No,0,189.5,90,32.22,189.8,118,16.13,205.8,83,9.26,13.1,2,3.54,1,False
147,KS,88,415,No,No,0,189.8,111,32.27,197.3,101,16.77,234.5,111,10.55,14.9,3,4.02,2,False
220,KS,67,408,No,No,0,201.4,101,34.24,97.6,122,8.30,202.5,119,9.11,7.0,3,1.89,0,False
240,KS,159,415,No,Yes,19,184.1,78,31.30,194.5,71,16.53,225.6,101,10.15,16.9,3,4.56,0,False
247,KS,128,415,No,No,0,103.3,122,17.56,245.9,123,20.90,161.1,95,7.25,6.4,7,1.73,0,False
327,KS,105,415,Yes,No,0,273.9,119,46.56,278.6,103,23.68,255.3,90,11.49,10.9,7,2.94,1,True
365,KS,120,510,No,No,0,158.0,110,26.86,197.0,103,16.75,154.9,132,6.97,10.0,5,2.70,1,False
381,KS,138,510,No,Yes,26,183.9,83,31.26,240.7,93,20.46,185.7,125,8.36,15.0,3,4.05,1,False

In [ ]:
CHURN_CONDIC = CHURN_FIL[CHURN_FIL["Area code"]>500].copy()
CHURN_CONDIC.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
10,MN,74,510,No,Yes,33,193.7,91,32.93,246.1,96,20.92,138.0,92,6.21,14.6,3,3.94,2,False
13,VT,128,510,No,Yes,29,179.3,104,30.48,225.9,86,19.20,323.0,78,14.54,8.6,7,2.32,0,False
19,MI,36,510,No,Yes,29,281.4,102,47.84,202.2,76,17.19,187.2,113,8.42,9.0,6,2.43,2,False
28,MO,6,510,No,No,0,183.6,117,31.21,256.7,72,21.82,178.6,79,8.04,10.2,2,2.75,1,False

##### CONDICION -----> OR

In [ ]:
CHURN_CONDIC = CHURN_FIL[(CHURN_FIL["State"] == "KS") | (CHURN_FIL["Total day charge"] > 40)].copy()
CHURN_CONDIC

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
11,HI,85,415,No,No,0,235.8,109,40.09,157.2,94,13.36,188.2,99,8.47,12.0,3,3.24,0,False
16,ID,77,415,No,No,0,251.8,72,42.81,205.7,126,17.48,275.2,109,12.38,9.8,7,2.65,2,True
19,MI,36,510,No,Yes,29,281.4,102,47.84,202.2,76,17.19,187.2,113,8.42,9.0,6,2.43,2,False
22,ID,97,408,No,No,0,239.8,125,40.77,214.8,111,18.26,143.3,81,6.45,8.7,5,2.35,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,MD,133,510,No,No,0,295.0,141,50.15,223.6,101,19.01,229.4,109,10.32,12.9,4,3.48,2,True
655,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,False
656,AK,99,510,No,No,0,238.4,96,40.53,246.5,130,20.95,198.4,117,8.93,12.4,4,3.35,3,False
658,KS,57,415,No,No,0,158.1,117,26.88,115.2,149,9.79,182.4,92,8.21,11.8,7,3.19,0,False
661,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True

In [ ]:
CHURN_CONDIC = CHURN_FIL[(CHURN_FIL["State"] == "KS") | (CHURN_FIL["Total day calls"] > 80)].copy()
CHURN_CONDIC.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
5,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False

In [ ]:
CHURN_CONDIC = CHURN_FIL[(CHURN_FIL["State"]=="KS") | (CHURN_FIL["Total eve calls"] < 100)]
CHURN_CONDIC

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
5,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False
8,VA,10,408,No,No,0,186.1,112,31.64,190.2,66,16.17,282.8,57,12.73,11.4,6,3.08,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,AZ,48,415,No,Yes,27,141.1,109,23.99,224.7,94,19.10,174.3,122,7.84,13.2,2,3.56,1,False
658,KS,57,415,No,No,0,158.1,117,26.88,115.2,149,9.79,182.4,92,8.21,11.8,7,3.19,0,False
659,CA,127,510,No,No,0,107.9,128,18.34,187.0,77,15.90,218.5,95,9.83,0.0,0,0.00,0,False
661,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
CHURN_CONDIC = CHURN_FIL[(CHURN_FIL["Churn"] == False) & (CHURN_FIL["Customer service calls"] > 2)].copy()
CHURN_CONDIC.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
6,MI,65,415,No,No,0,211.3,120,35.92,162.6,122,13.82,134.7,118,6.06,13.2,5,3.56,3,False
9,WI,68,415,No,No,0,148.8,70,25.30,246.5,164,20.95,129.8,103,5.84,12.1,3,3.27,3,False
31,NM,25,415,No,No,0,119.3,87,20.28,211.5,101,17.98,268.9,86,12.10,10.5,4,2.84,3,False
43,AZ,94,408,No,No,0,181.8,85,30.91,202.4,98,17.20,245.9,97,11.07,9.2,2,2.48,4,False
46,FL,106,408,No,Yes,32,165.9,126,28.20,216.5,93,18.40,173.1,86,7.79,14.1,8,3.81,4,False

In [ ]:
CHURN_CONDIC = CHURN_FIL[(CHURN_FIL["State"] == "AZ") | (CHURN_FIL["Total day minutes"] <= 211.3)].copy()
CHURN_CONDIC.head(20)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
5,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False
6,MI,65,415,No,No,0,211.3,120,35.92,162.6,122,13.82,134.7,118,6.06,13.2,5,3.56,3,False
7,ID,119,415,No,No,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5,True
8,VA,10,408,No,No,0,186.1,112,31.64,190.2,66,16.17,282.8,57,12.73,11.4,6,3.08,2,False
9,WI,68,415,No,No,0,148.8,70,25.30,246.5,164,20.95,129.8,103,5.84,12.1,3,3.27,3,False
10,MN,74,510,No,Yes,33,193.7,91,32.93,246.1,96,20.92,138.0,92,6.21,14.6,3,3.94,2,False
13,VT,128,510,No,Yes,29,179.3,104,30.48,225.9,86,19.20,323.0,78,14.54,8.6,7,2.32,0,False
14,LA,155,415,No,No,0,203.4,100,34.58,190.9,104,16.23,196.0,119,8.82,8.9,4,2.40,0,True
15,MT,73,415,No,No,0,160.1,110,27.22,213.3,72,18.13,174.1,72,7.83,13.0,4,3.51,0,False
17,MA,108,415,No,No,0,178.3,137,30.31,189.0,76,16.07,129.1,102,5.81,14.6,5,3.94,0,False
18,KY,95,408,No,No,0,135.0,99,22.95,183.6,106,15.61,245.3,102,11.04,12.5,9,3.38,1,False
20,CO,141,415,No,Yes,32,148.6,91,25.26,131.1,97,11.14,219.4,142,9.87,10.1,1,2.73,1,False
21,AZ,63,415,No,No,0,58.9,125,10.01,169.6,59,14.42,211.4,88,9.51,9.4,3,2.54,1,False
23,CA,75,408,No,No,0,166.3,125,28.27,158.2,86,13.45,256.7,80,11.55,6.1,5,1.65,1,False
24,WA,127,408,No,No,0,146.7,91,24.94,203.5,78,17.30,203.4,110,9.15,13.7,3,3.70,1,False
25,LA,121,408,No,No,0,181.5,121,30.86,218.4,98,18.56,161.6,103,7.27,8.5,5,2.30,1,False

In [ ]:
CHURN_CONDIC = CHURN_FIL[(CHURN_FIL["State"] == "AZ") & (CHURN_FIL["Total day minutes"] <= 211.3)].copy()
CHURN_CONDIC.head(20)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
21,AZ,63,415,No,No,0,58.9,125,10.01,169.6,59,14.42,211.4,88,9.51,9.4,3,2.54,1,False
43,AZ,94,408,No,No,0,181.8,85,30.91,202.4,98,17.20,245.9,97,11.07,9.2,2,2.48,4,False
81,AZ,140,408,No,No,0,173.2,91,29.44,196.8,106,16.73,209.3,128,9.42,11.2,5,3.02,3,False
88,AZ,60,415,No,No,0,98.2,88,16.69,180.5,69,15.34,223.6,69,10.06,9.3,2,2.51,2,False
91,AZ,86,415,No,Yes,32,70.9,163,12.05,166.7,121,14.17,244.9,105,11.02,11.1,5,3.00,3,False
113,AZ,75,510,No,Yes,37,121.5,97,20.66,271.4,110,23.07,248.7,97,11.19,11.3,5,3.05,2,False
264,AZ,163,510,No,No,0,178.7,56,30.38,215.7,79,18.33,152.7,84,6.87,10.6,2,2.86,4,False
288,AZ,97,408,No,No,0,169.7,84,28.85,165.9,86,14.10,191.9,83,8.64,12.8,6,3.46,3,False
337,AZ,66,510,No,No,0,154.0,133,26.18,198.9,121,16.91,151.9,100,6.84,9.5,3,2.57,4,True
545,AZ,82,415,No,Yes,33,137.8,95,23.43,235.5,128,20.02,268.1,70,12.06,11.0,6,2.97,2,False
553,AZ,100,510,No,No,0,78.7,98,13.38,225.6,102,19.18,150.4,106,6.77,14.0,8,3.78,0,False
604,AZ,88,415,No,No,0,172.8,81,29.38,193.4,90,16.44,89.6,107,4.03,12.8,5,3.46,2,False
647,AZ,97,408,No,Yes,25,141.0,101,23.97,212.0,85,18.02,175.2,138,7.88,4.9,2,1.32,3,False
657,AZ,48,415,No,Yes,27,141.1,109,23.99,224.7,94,19.10,174.3,122,7.84,13.2,2,3.56,1,False

In [ ]:
CHURN_CONDIC = CHURN_FIL[(CHURN_FIL["State"] != "AZ")].copy()
CHURN_CONDIC.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True

In [ ]:
CHURN_CONDIC

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

#### [SLICING DE FILAS , COLUMNAS]

In [ ]:
CHURN_CONDIC.iloc[:100,5:].copy()

,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,0,231.3,105,39.32,171.7,108,14.59,67.7,136,3.05,13.0,6,3.51,1,False
103,22,40.9,126,6.95,133.4,90,11.34,264.2,91,11.89,11.9,7,3.21,0,False
104,0,310.4,97,52.77,66.5,123,5.65,246.5,99,11.09,9.2,10,2.48,4,False
105,0,216.6,126,36.82,190.8,104,16.22,224.7,123,10.11,12.4,8,3.35,0,False
106,29,209.9,77,35.68,158.0,52,13.43,141.9,113,6.39,6.6,1,1.78,0,False

In [ ]:
CHURN_CONDIC.iloc[:,:].copy()
CHURN_CONDIC.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

### FILAS Y COLUMNAS MEDIANTE LOC

In [ ]:
CHURN_LOC = CHURN_CONDIC.loc[[100,200,250,280,400],["State","Account length","Area code"]].copy()

In [ ]:
CHURN_LOC.head()

    State  Account length  Area code
100    MO              92        415
200    NJ             107        415
250    VT             109        408
280    LA              89        415
400    DE              81        510

In [ ]:
CHURN_LOC_1 = CHURN_LOC.loc[[100,200,250,280],["State","Account length","Area code"]].copy()
CHURN_LOC_1

    State  Account length  Area code
100    MO              92        415
200    NJ             107        415
250    VT             109        408
280    LA              89        415

In [ ]:
CHURN_LOC_1 = CHURN_LOC.loc[[100,200,250,280],["State","Account length","Area code"]].copy().reset_index()
CHURN_LOC_1

   index State  Account length  Area code
0    100    MO              92        415
1    200    NJ             107        415
2    250    VT             109        408
3    280    LA              89        415

In [ ]:
CHURN_LOC_1

   index State  Account length  Area code
0    100    MO              92        415
1    200    NJ             107        415
2    250    VT             109        408
3    280    LA              89        415

In [ ]:
ELIMINAR_INDEX = CHURN_LOC_1.drop(["index"], axis = 1).copy()
ELIMINAR_INDEX.head(3)

  State  Account length  Area code
0    MO              92        415
1    NJ             107        415
2    VT             109        408

In [ ]:
CHURN

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
CHURN["COLUMNA_NUEVA"] = (CHURN["Account length"]+5).copy()
CHURN

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,COLUMNA_NUEVA
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,29.89,215.8,90,9.71,8.7,4,2.35,1,False,122
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,19.42,208.8,111,9.40,12.7,6,3.43,4,True,70
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,27.01,160.6,128,7.23,5.4,9,1.46,4,True,166
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,11.67,189.6,105,8.53,7.7,6,2.08,2,False,116
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,18.28,178.7,90,8.04,11.1,1,3.00,1,False,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,...,13.23,247.6,94,11.14,11.5,7,3.11,2,False,119
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,...,17.33,229.5,73,10.33,8.1,3,2.19,1,False,111
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,...,7.23,210.1,134,9.45,13.2,8,3.56,3,False,65
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,...,16.80,193.7,82,8.72,11.6,4,3.13,1,False,164
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,False,189

In [ ]:
CHURN["COLUMNA_NUEVA2"] = (CHURN["Total day calls"] - 10).copy()
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,215.8,90,9.71,8.7,4,2.35,1,False,122,87
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,208.8,111,9.40,12.7,6,3.43,4,True,70,127
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,160.6,128,7.23,5.4,9,1.46,4,True,166,57
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,189.6,105,8.53,7.7,6,2.08,2,False,116,93
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,178.7,90,8.04,11.1,1,3.00,1,False,54,107

In [ ]:
CHURN

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,215.8,90,9.71,8.7,4,2.35,1,False,122,87
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,208.8,111,9.40,12.7,6,3.43,4,True,70,127
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,160.6,128,7.23,5.4,9,1.46,4,True,166,57
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,189.6,105,8.53,7.7,6,2.08,2,False,116,93
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,178.7,90,8.04,11.1,1,3.00,1,False,54,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,...,247.6,94,11.14,11.5,7,3.11,2,False,119,78
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,...,229.5,73,10.33,8.1,3,2.19,1,False,111,121
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,...,210.1,134,9.45,13.2,8,3.56,3,False,65,108
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,...,193.7,82,8.72,11.6,4,3.13,1,False,164,104
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,139.2,137,6.26,5.0,10,1.35,2,False,189,95

In [ ]:
CHURN["COLUMNA_3"] = (CHURN["Total day calls"] * 2).copy()
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2,COLUMNA_3
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,90,9.71,8.7,4,2.35,1,False,122,87,194
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,111,9.40,12.7,6,3.43,4,True,70,127,274
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,128,7.23,5.4,9,1.46,4,True,166,57,134
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,105,8.53,7.7,6,2.08,2,False,116,93,206
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,90,8.04,11.1,1,3.00,1,False,54,107,234

In [ ]:
CHURN["COLUMNA_NUEVA4"] = (CHURN["Account length"] / 3).copy()
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,9.71,8.7,4,2.35,1,False,122,87,194,39.000000
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,9.40,12.7,6,3.43,4,True,70,127,274,21.666667
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,7.23,5.4,9,1.46,4,True,166,57,134,53.666667
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,8.53,7.7,6,2.08,2,False,116,93,206,37.000000
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,8.04,11.1,1,3.00,1,False,54,107,234,16.333333

In [ ]:
CHURN["COLUMNA_NUEVA5"] = (CHURN["Area code"] / 10).copy()
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,8.7,4,2.35,1,False,122,87,194,39.000000,40.8
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,12.7,6,3.43,4,True,70,127,274,21.666667,41.5
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,5.4,9,1.46,4,True,166,57,134,53.666667,41.5
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,7.7,6,2.08,2,False,116,93,206,37.000000,41.5
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,11.1,1,3.00,1,False,54,107,234,16.333333,51.0

In [ ]:
CHURN["COLUMNA_6"] = CHURN["COLUMNA_NUEVA"] + CHURN["COLUMNA_NUEVA2"] + CHURN["COLUMNA_3"].copy()
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total intl calls,Total intl charge,Customer service calls,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,4,2.35,1,False,122,87,194,39.000000,40.8,403
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,6,3.43,4,True,70,127,274,21.666667,41.5,471
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,9,1.46,4,True,166,57,134,53.666667,41.5,357
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,6,2.08,2,False,116,93,206,37.000000,41.5,415
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,1,3.00,1,False,54,107,234,16.333333,51.0,395

In [ ]:
CHURN["COLUMNA_7"] = (CHURN["Total day minutes"] * CHURN["Total day calls"]
+ CHURN["Total day charge"] - CHURN["Total eve minutes"]).copy()
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total intl charge,Customer service calls,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6,COLUMNA_7
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,2.35,1,False,122,87,194,39.000000,40.8,403,17576.27
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,3.43,4,True,70,127,274,21.666667,41.5,471,17480.15
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,1.46,4,True,166,57,134,53.666667,41.5,357,22043.09
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,2.08,2,False,116,93,206,37.000000,41.5,415,11252.67
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,3.00,1,False,54,107,234,16.333333,51.0,395,13763.28

In [ ]:
LISTA = range(CHURN.shape[0])
LISTA

range(0, 667)

In [ ]:
LISTA = list(range(CHURN.shape[0]))
LISTA

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666]

In [ ]:
CHURN["LIST"] = LISTA
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Customer service calls,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6,COLUMNA_7,LIST
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,1,False,122,87,194,39.000000,40.8,403,17576.27,0
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,4,True,70,127,274,21.666667,41.5,471,17480.15,1
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,4,True,166,57,134,53.666667,41.5,357,22043.09,2
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,2,False,116,93,206,37.000000,41.5,415,11252.67,3
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,1,False,54,107,234,16.333333,51.0,395,13763.28,4

In [ ]:
LISTA_2 = range(CHURN.shape[0])
LISTA_2

range(0, 667)

In [ ]:
CHURN["LIST_2"] = LISTA_2
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Churn,COLUMNA_NUEVA,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6,COLUMNA_7,LIST,LIST_2
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,False,122,87,194,39.000000,40.8,403,17576.27,0,0
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,True,70,127,274,21.666667,41.5,471,17480.15,1,1
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,True,166,57,134,53.666667,41.5,357,22043.09,2,2
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,False,116,93,206,37.000000,41.5,415,11252.67,3,3
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,False,54,107,234,16.333333,51.0,395,13763.28,4,4

In [ ]:
LISTA_3 = range(CHURN.shape[0])
LISTA_3

range(0, 667)

In [ ]:
CHURN["LIST_3"] = LISTA_3
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,COLUMNA_NUEVA,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6,COLUMNA_7,LIST,LIST_2,LIST_3
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,122,87,194,39.000000,40.8,403,17576.27,0,0,0
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,70,127,274,21.666667,41.5,471,17480.15,1,1,1
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,166,57,134,53.666667,41.5,357,22043.09,2,2,2
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,116,93,206,37.000000,41.5,415,11252.67,3,3,3
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,54,107,234,16.333333,51.0,395,13763.28,4,4,4

In [ ]:
LISTA_4 = range(CHURN["Total eve minutes"].shape[0])
LISTA_4

range(0, 667)

In [ ]:
CHURN["LIST_4"] = LISTA_4
CHURN.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6,COLUMNA_7,LIST,LIST_2,LIST_3,LIST_4
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,87,194,39.000000,40.8,403,17576.27,0,0,0,0
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,127,274,21.666667,41.5,471,17480.15,1,1,1,1
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,57,134,53.666667,41.5,357,22043.09,2,2,2,2
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,93,206,37.000000,41.5,415,11252.67,3,3,3,3
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,107,234,16.333333,51.0,395,13763.28,4,4,4,4

#### GENERACIONDE UNA NUEVA FILA

In [ ]:
CHURN_NUEVO = CHURN.iloc[:10,2:6].copy()
CHURN_NUEVO.head(2)

   Area code International plan Voice mail plan  Number vmail messages
0        408                 No              No                      0
1        415                 No              No                      0

In [ ]:
CHURN_NUEVO2 = CHURN_NUEVO.append(
    { "Area code" : 300,
     "International plan" : "yes",
     "Voice mail plan" : "Nou",
     "Number vmail messages" : 10

},  ignore_index=True


)

In [ ]:
CHURN_NUEVO2.head(3)

   Area code International plan Voice mail plan  Number vmail messages
0        408                 No              No                      0
1        415                 No              No                      0
2        415                 No              No                      0

In [ ]:
CHURN_NUEVO_1 = CHURN.iloc[10:20,5:10].copy()
CHURN_NUEVO_1

,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes
10,33,193.7,91,32.93,246.1
11,0,235.8,109,40.09,157.2
12,0,214.1,72,36.40,164.4
13,29,179.3,104,30.48,225.9
14,0,203.4,100,34.58,190.9
15,0,160.1,110,27.22,213.3
16,0,251.8,72,42.81,205.7
17,0,178.3,137,30.31,189.0
18,0,135.0,99,22.95,183.6
19,29,281.4,102,47.84,202.2

In [ ]:
CHURN_NUEVO2 = CHURN.iloc[10:20,5:10].copy()
CHURN_NUEVO2

,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes
10,33,193.7,91,32.93,246.1
11,0,235.8,109,40.09,157.2
12,0,214.1,72,36.40,164.4
13,29,179.3,104,30.48,225.9
14,0,203.4,100,34.58,190.9
15,0,160.1,110,27.22,213.3
16,0,251.8,72,42.81,205.7
17,0,178.3,137,30.31,189.0
18,0,135.0,99,22.95,183.6
19,29,281.4,102,47.84,202.2

In [ ]:
CHURN_NUEVO2 = CHURN.append(
{ "Number vmail messages" : 35,
 "Total day minutes" : 151.3,
 "Total day calls" : 100,
 "Total day charge" : 200,
 "Total eve minutes" : 501

}.copy(), ignore_index=True)

In [ ]:
CHURN_NUEVO2

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6,COLUMNA_7,LIST,LIST_2,LIST_3,LIST_4
0,LA,117.0,408.0,No,No,0.0,184.5,97.0,31.37,351.6,...,87.0,194.0,39.000000,40.8,403.0,17576.27,0.0,0.0,0.0,0.0
1,IN,65.0,415.0,No,No,0.0,129.1,137.0,21.95,228.5,...,127.0,274.0,21.666667,41.5,471.0,17480.15,1.0,1.0,1.0,1.0
2,NY,161.0,415.0,No,No,0.0,332.9,67.0,56.59,317.8,...,57.0,134.0,53.666667,41.5,357.0,22043.09,2.0,2.0,2.0,2.0
3,SC,111.0,415.0,No,No,0.0,110.4,103.0,18.77,137.3,...,93.0,206.0,37.000000,41.5,415.0,11252.67,3.0,3.0,3.0,3.0
4,HI,49.0,510.0,No,No,0.0,119.3,117.0,20.28,215.1,...,107.0,234.0,16.333333,51.0,395.0,13763.28,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,AL,106.0,408.0,No,Yes,29.0,83.6,131.0,14.21,203.9,...,121.0,262.0,35.333333,40.8,494.0,10761.91,663.0,663.0,663.0,663.0
664,VT,60.0,415.0,No,No,0.0,193.9,118.0,32.96,85.0,...,108.0,236.0,20.000000,41.5,409.0,22828.16,664.0,664.0,664.0,664.0
665,WV,159.0,415.0,No,No,0.0,169.8,114.0,28.87,197.7,...,104.0,228.0,53.000000,41.5,496.0,19188.37,665.0,665.0,665.0,665.0
666,CT,184.0,510.0,Yes,No,0.0,213.8,105.0,36.35,159.6,...,95.0,210.0,61.333333,51.0,494.0,22325.75,666.0,666.0,666.0,666.0
667,NaN,NaN,NaN,NaN,NaN,35.0,151.3,100.0,200.00,501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Generacion de un dataset

In [ ]:
import pandas as pd
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\TELECOM_CHURN_DATASET\\VISUALIZACION_CHURN_MODEL.csv"
DATOS = pd.read_csv(RUTA)
DATOS.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
DATOS1 = DATOS.iloc[:10,2:6].copy()
DATOS1

   Area code International plan Voice mail plan  Number vmail messages
0        408                 No              No                      0
1        415                 No              No                      0
2        415                 No              No                      0
3        415                 No              No                      0
4        510                 No              No                      0
5        408                 No             Yes                     30
6        415                 No              No                      0
7        415                 No              No                      0
8        408                 No              No                      0
9        415                 No              No                      0

In [ ]:
DATOS2 = DATOS.iloc[:10,6:12].copy()
DATOS2

,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge
0,184.5,97,31.37,351.6,80,29.89
1,129.1,137,21.95,228.5,83,19.42
2,332.9,67,56.59,317.8,97,27.01
3,110.4,103,18.77,137.3,102,11.67
4,119.3,117,20.28,215.1,109,18.28
5,146.3,128,24.87,162.5,80,13.81
6,211.3,120,35.92,162.6,122,13.82
7,159.1,114,27.05,231.3,117,19.66
8,186.1,112,31.64,190.2,66,16.17
9,148.8,70,25.30,246.5,164,20.95

### COLUMNAS CON UN DATASET

In [ ]:
DATOS_GENERADOS = pd.DataFrame(
{
    "COL1":DATOS1["Area code"],
    "COL2":DATOS2["Total day minutes"]
})

DATOS_GENERADOS.head(10)

   COL1   COL2
0   408  184.5
1   415  129.1
2   415  332.9
3   415  110.4
4   510  119.3
5   408  146.3
6   415  211.3
7   415  159.1
8   408  186.1
9   415  148.8

In [ ]:

DATOS_GENERADOS.rename(

 columns = {"COL2" : "COLUMNA_2",
             "COL1" : "COLUMNA_1"}


)

   COLUMNA_1  COLUMNA_2
0        408      184.5
1        415      129.1
2        415      332.9
3        415      110.4
4        510      119.3
5        408      146.3
6        415      211.3
7        415      159.1
8        408      186.1
9        415      148.8

##### COLUMNAS DE VARIAS DATASET

In [ ]:
DATOS_GENERADOS2 = pd.DataFrame(
{
    "COL1":DATOS1["Area code"],
    "COL2":DATOS1["International plan"],
    "COL3":DATOS2["Total day charge"],
    "COL4":DATOS2["Total eve minutes"]
})

DATOS_GENERADOS2.head(10)

   COL1 COL2   COL3   COL4
0   408   No  31.37  351.6
1   415   No  21.95  228.5
2   415   No  56.59  317.8
3   415   No  18.77  137.3
4   510   No  20.28  215.1
5   408   No  24.87  162.5
6   415   No  35.92  162.6
7   415   No  27.05  231.3
8   408   No  31.64  190.2
9   415   No  25.30  246.5

In [ ]:
DATOS_GENERADOS2.rename(
    columns = { "COL1":"numero_1","COL2":"sin_datos","COL3":"NO_DATOS","COL4":"NO_NUMERO"


    }

)

   numero_1 sin_datos  NO_DATOS  NO_NUMERO
0       408        No     31.37      351.6
1       415        No     21.95      228.5
2       415        No     56.59      317.8
3       415        No     18.77      137.3
4       510        No     20.28      215.1
5       408        No     24.87      162.5
6       415        No     35.92      162.6
7       415        No     27.05      231.3
8       408        No     31.64      190.2
9       415        No     25.30      246.5

In [ ]:
DATOS_GENERADOS_rang = range(DATOS_GENERADOS2.shape[0])
DATOS_GENERADOS_rang

range(0, 10)

In [ ]:
DATOS_GENERADOS2["COL6"] =  DATOS_GENERADOS_rang
DATOS_GENERADOS2.head()

   COL1 COL2   COL3   COL4  COL6
0   408   No  31.37  351.6     0
1   415   No  21.95  228.5     1
2   415   No  56.59  317.8     2
3   415   No  18.77  137.3     3
4   510   No  20.28  215.1     4

In [ ]:
DATOS_GENERADOS_rang

range(0, 10)

In [ ]:
DATOS_GENERADOS.head(2)

   COL1   COL2
0   408  184.5
1   415  129.1

In [ ]:
DATOS_GENERADOS2.head(2)

   COL1 COL2   COL3   COL4  COL6
0   408   No  31.37  351.6     0
1   415   No  21.95  228.5     1

In [ ]:
DATOS_GENERADOS3 = pd.DataFrame(
    {
        "DATOS_1":DATOS_GENERADOS["COL1"],
        "DATOS_2":DATOS_GENERADOS["COL2"],
        "DATOS_3":DATOS_GENERADOS2["COL3"],
        "DATOS_4":DATOS_GENERADOS2["COL4"],
        "DATOS_5":DATOS_GENERADOS2["COL6"]



    }


)

DATOS_GENERADOS3

   DATOS_1  DATOS_2  DATOS_3  DATOS_4  DATOS_5
0      408    184.5    31.37    351.6        0
1      415    129.1    21.95    228.5        1
2      415    332.9    56.59    317.8        2
3      415    110.4    18.77    137.3        3
4      510    119.3    20.28    215.1        4
5      408    146.3    24.87    162.5        5
6      415    211.3    35.92    162.6        6
7      415    159.1    27.05    231.3        7
8      408    186.1    31.64    190.2        8
9      415    148.8    25.30    246.5        9

In [ ]:
CHURN_COL2.head(2)

   Account length  Area code International plan
0             117        408                 No
1              65        415                 No

In [ ]:
CHURN.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6,COLUMNA_7,LIST,LIST_2,LIST_3,LIST_4
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,87,194,39.000000,40.8,403,17576.27,0,0,0,0
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,127,274,21.666667,41.5,471,17480.15,1,1,1,1

In [ ]:
CHURN_JOIN = pd.DataFrame(
    {
        "DURACION_CUENTA":CHURN["Account length"],
        "TOTAL_MINUTOS":CHURN["Total day minutes"],
        "TOTAL_MIN_ESPERA":CHURN["Total eve minutes"],
        "CODIGO_AREA":CHURN_COL2["Area code"],
        "PLAN_INTERNACIONAL":CHURN_COL2["International plan"]

    }
)

CHURN_JOIN.head(50)

,DURACION_CUENTA,TOTAL_MINUTOS,TOTAL_MIN_ESPERA,CODIGO_AREA,PLAN_INTERNACIONAL
0,117,184.5,351.6,408,No
1,65,129.1,228.5,415,No
2,161,332.9,317.8,415,No
3,111,110.4,137.3,415,No
4,49,119.3,215.1,510,No
5,36,146.3,162.5,408,No
6,65,211.3,162.6,415,No
7,119,159.1,231.3,415,No
8,10,186.1,190.2,408,No
9,68,148.8,246.5,415,No
10,74,193.7,246.1,510,No
11,85,235.8,157.2,415,No
12,46,214.1,164.4,415,No
13,128,179.3,225.9,510,No
14,155,203.4,190.9,415,No
15,73,160.1,213.3,415,No
16,77,251.8,205.7,415,No
17,108,178.3,189.0,415,No
18,95,135.0,183.6,408,No
19,36,281.4,202.2,510,No
20,141,148.6,131.1,415,No
21,63,58.9,169.6,415,No
22,97,239.8,214.8,408,No
23,75,166.3,158.2,408,No
24,127,146.7,203.5,408,No
25,121,181.5,218.4,408,No
26,117,102.8,206.7,415,No
27,65,187.9,157.6,408,No
28,6,183.6,256.7,510,No
29,32,230.9,187.4,510,No
30,64,182.1,169.7,408,No
31,25,119.3,211.5,415,No
32,65,116.8,178.9,415,No
33,127,202.1,229.4,415,No
34,93,271.6,229.4,415,No
35,208,326.5,176.3,510,No
36,122,243.8,83.9,415,No
37,99,241.1,155.6,415,No
38,65,136.1,272.9,415,No
39,65,213.4,234.5,415,No
40,45,196.6,313.2,415,No
41,139,134.4,211.3,510,No
42,215,83.6,120.9,510,No
43,94,181.8,202.4,408,No
44,119,154.0,278.0,510,No
45,86,119.0,230.0,510,No
46,106,165.9,216.5,408,No
47,92,62.6,180.6,408,Yes
48,78,168.3,221.2,510,No
49,155,262.4,194.6,408,No

In [ ]:
CHURN_COL2.head(1)

   Account length  Area code International plan
0             117        408                 No

In [ ]:
CHURN.head(1)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,COLUMNA_NUEVA2,COLUMNA_3,COLUMNA_NUEVA4,COLUMNA_NUEVA5,COLUMNA_6,COLUMNA_7,LIST,LIST_2,LIST_3,LIST_4
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,87,194,39.0,40.8,403,17576.27,0,0,0,0

In [ ]:
 CHURN_COL.head(1)

  State
0    LA

In [ ]:
CHURN_JOIN2 = pd.DataFrame(
    {
        "ESTADO":CHURN_COL["State"],
        "TOTAL DE MINUTOS":CHURN["Total eve minutes"],
        "CARGO TOTAL":CHURN["Total day charge"],
        "LLAMADAS DIARIAS":CHURN["Total day calls"],
        "MINUTOS TOTALES DEL DIA":CHURN["Total day minutes"],
        "PLAN INTERNACIONAL":CHURN_COL2["International plan"],
        "LONGITUD DE LA CUENTA":CHURN_COL2["Account length"]

}
)
CHURN_JOIN2.head(30)

,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA
0,LA,351.6,31.37,97,184.5,No,117
1,IN,228.5,21.95,137,129.1,No,65
2,NY,317.8,56.59,67,332.9,No,161
3,SC,137.3,18.77,103,110.4,No,111
4,HI,215.1,20.28,117,119.3,No,49
5,AK,162.5,24.87,128,146.3,No,36
6,MI,162.6,35.92,120,211.3,No,65
7,ID,231.3,27.05,114,159.1,No,119
8,VA,190.2,31.64,112,186.1,No,10
9,WI,246.5,25.30,70,148.8,No,68
10,MN,246.1,32.93,91,193.7,No,74
11,HI,157.2,40.09,109,235.8,No,85
12,MN,164.4,36.40,72,214.1,No,46
13,VT,225.9,30.48,104,179.3,No,128
14,LA,190.9,34.58,100,203.4,No,155
15,MT,213.3,27.22,110,160.1,No,73
16,ID,205.7,42.81,72,251.8,No,77
17,MA,189.0,30.31,137,178.3,No,108
18,KY,183.6,22.95,99,135.0,No,95
19,MI,202.2,47.84,102,281.4,No,36
20,CO,131.1,25.26,91,148.6,No,141
21,AZ,169.6,10.01,125,58.9,No,63
22,ID,214.8,40.77,125,239.8,No,97
23,CA,158.2,28.27,125,166.3,No,75
24,WA,203.5,24.94,91,146.7,No,127
25,LA,218.4,30.86,121,181.5,No,121
26,NE,206.7,17.48,119,102.8,No,117
27,OH,157.6,31.94,116,187.9,No,65
28,MO,256.7,31.21,117,183.6,No,6
29,AL,187.4,39.25,87,230.9,No,32

In [ ]:
len(CHURN_JOIN2)

667

In [ ]:
CHURN_JOIN2.describe()

,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,LONGITUD DE LA CUENTA
count,667.000000,667.000000,667.000000,667.000000,667.000000
mean,203.355322,30.761769,100.937031,180.948126,102.841079
std,49.719268,9.436463,20.396790,55.508628,40.819480
min,48.100000,4.400000,30.000000,25.900000,1.000000
25%,171.050000,24.860000,87.500000,146.250000,76.000000
50%,203.700000,30.310000,101.000000,178.300000,102.000000
75%,236.450000,37.520000,115.000000,220.700000,128.000000
max,361.800000,56.830000,165.000000,334.300000,232.000000

In [ ]:
LISTA = list(range(CHURN_COL.shape[0]))

CHURN_JOIN2 = pd.DataFrame(
    {
        "ESTADO":CHURN_COL["State"],
        "TOTAL DE MINUTOS":CHURN["Total eve minutes"],
        "CARGO TOTAL":CHURN["Total day charge"],
        "LLAMADAS DIARIAS":CHURN["Total day calls"],
        "MINUTOS TOTALES DEL DIA":CHURN["Total day minutes"],
        "PLAN INTERNACIONAL":CHURN_COL2["International plan"],
        "LONGITUD DE LA CUENTA":CHURN_COL2["Account length"],
        "AGREGANDO LISTA": LISTA

}
)
CHURN_JOIN2.head(30)

,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA
0,LA,351.6,31.37,97,184.5,No,117,0
1,IN,228.5,21.95,137,129.1,No,65,1
2,NY,317.8,56.59,67,332.9,No,161,2
3,SC,137.3,18.77,103,110.4,No,111,3
4,HI,215.1,20.28,117,119.3,No,49,4
5,AK,162.5,24.87,128,146.3,No,36,5
6,MI,162.6,35.92,120,211.3,No,65,6
7,ID,231.3,27.05,114,159.1,No,119,7
8,VA,190.2,31.64,112,186.1,No,10,8
9,WI,246.5,25.30,70,148.8,No,68,9
10,MN,246.1,32.93,91,193.7,No,74,10
11,HI,157.2,40.09,109,235.8,No,85,11
12,MN,164.4,36.40,72,214.1,No,46,12
13,VT,225.9,30.48,104,179.3,No,128,13
14,LA,190.9,34.58,100,203.4,No,155,14
15,MT,213.3,27.22,110,160.1,No,73,15
16,ID,205.7,42.81,72,251.8,No,77,16
17,MA,189.0,30.31,137,178.3,No,108,17
18,KY,183.6,22.95,99,135.0,No,95,18
19,MI,202.2,47.84,102,281.4,No,36,19
20,CO,131.1,25.26,91,148.6,No,141,20
21,AZ,169.6,10.01,125,58.9,No,63,21
22,ID,214.8,40.77,125,239.8,No,97,22
23,CA,158.2,28.27,125,166.3,No,75,23
24,WA,203.5,24.94,91,146.7,No,127,24
25,LA,218.4,30.86,121,181.5,No,121,25
26,NE,206.7,17.48,119,102.8,No,117,26
27,OH,157.6,31.94,116,187.9,No,65,27
28,MO,256.7,31.21,117,183.6,No,6,28
29,AL,187.4,39.25,87,230.9,No,32,29

In [ ]:
CHURN_JOIN2.head(2)

,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA
0,LA,351.6,31.37,97,184.5,No,117,0
1,IN,228.5,21.95,137,129.1,No,65,1

In [ ]:
CHURN_ORDENADO = CHURN_JOIN2.sort_values(["CARGO TOTAL"], ascending = True).copy().reset_index()
CHURN_ORDENADO.head(3)

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA
0,224,WY,206.5,4.40,119,25.9,No,53,224
1,241,PA,180.8,5.97,62,35.1,No,122,241
2,103,NJ,133.4,6.95,126,40.9,No,95,103

In [ ]:
CHURN_ORDENADO2 = CHURN_JOIN2.sort_values(["TOTAL DE MINUTOS"], ascending = False ).copy().reset_index()
CHURN_ORDENADO2

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA
0,453,IN,361.8,32.54,102,191.4,No,46,453
1,0,LA,351.6,31.37,97,184.5,No,117,0
2,61,RI,350.5,28.97,108,170.4,No,121,61
3,276,MI,336.0,39.05,129,229.7,No,51,276
4,100,MO,329.8,26.18,122,154.0,No,92,100
...,...,...,...,...,...,...,...,...,...
662,556,WV,67.5,9.86,125,58.0,No,87,556
663,104,LA,66.5,52.77,97,310.4,No,67,104
664,186,MO,60.8,41.62,91,244.8,Yes,167,186
665,285,WY,60.0,41.43,124,243.7,No,71,285
666,263,IL,48.1,21.79,71,128.2,No,48,263

In [ ]:
CHURN_ORDENADO3 = CHURN_JOIN2.sort_values(["MINUTOS TOTALES DEL DIA","LONGITUD DE LA CUENTA"],
                                            ascending = True).copy().reset_index()
CHURN_ORDENADO3

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA
0,224,WY,206.5,4.40,119,25.9,No,53,224
1,241,PA,180.8,5.97,62,35.1,No,122,241
2,103,NJ,133.4,6.95,126,40.9,No,95,103
3,594,VA,134.2,7.63,63,44.9,No,113,594
4,537,DC,164.0,8.76,90,51.5,No,80,537
...,...,...,...,...,...,...,...,...,...
662,175,SC,204.6,54.83,106,322.5,No,87,175
663,549,OR,236.4,55.20,48,324.7,No,81,549
664,35,TX,176.3,55.51,67,326.5,No,208,35
665,2,NY,317.8,56.59,67,332.9,No,161,2
666,203,DE,192.1,56.83,118,334.3,No,129,203

##### TRANSFORMAR UN DATASET

In [ ]:
AUMENTAR_1 = lambda X : X + 1
NEGAR = lambda : not(X)

In [ ]:
CHURN_ORDENADO3["AUMENTAR_1"] = CHURN_ORDENADO3["index"].transform(AUMENTAR_1).copy()
CHURN_ORDENADO3.head()

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA,AUMENTAR_1
0,224,WY,206.5,4.40,119,25.9,No,53,224,225
1,241,PA,180.8,5.97,62,35.1,No,122,241,242
2,103,NJ,133.4,6.95,126,40.9,No,95,103,104
3,594,VA,134.2,7.63,63,44.9,No,113,594,595
4,537,DC,164.0,8.76,90,51.5,No,80,537,538

In [ ]:
DATOS.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True

In [ ]:
DATOS_NEGACION = pd.DataFrame(
    {
        "BOLEAN" : DATOS["Churn"]
}
.copy()
)

In [ ]:
DATOS_NEGACION

     BOLEAN
0     False
1      True
2      True
3     False
4     False
..      ...
662   False
663   False
664   False
665   False
666   False

[667 rows x 1 columns]

In [ ]:
DATOS_NEGACION

     BOLEAN
0     False
1      True
2      True
3     False
4     False
..      ...
662   False
663   False
664   False
665   False
666   False

[667 rows x 1 columns]

In [ ]:
AUMENTAR_2 = lambda X : X + 2
NEGAR = lambda : not(X)

In [ ]:
CHURN_ORDENADO3["AUMENTO_2"] = CHURN_ORDENADO3["LLAMADAS DIARIAS"].transform(AUMENTAR_2).copy()
CHURN_ORDENADO3.head(3)

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA,AUMENTAR_1,AUMENTO_2
0,224,WY,206.5,4.40,119,25.9,No,53,224,225,121
1,241,PA,180.8,5.97,62,35.1,No,122,241,242,64
2,103,NJ,133.4,6.95,126,40.9,No,95,103,104,128

In [ ]:
MULTIPLICAR_3 = lambda X : X * 3

In [ ]:
CHURN_ORDENADO3["MULTIPLICADO POR 3"] = (CHURN_ORDENADO3["MINUTOS TOTALES DEL DIA"]
.transform(MULTIPLICAR_3).copy())

In [ ]:
CHURN_ORDENADO3.head(2)

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA,AUMENTAR_1,AUMENTO_2,MULTIPLICADO POR 3
0,224,WY,206.5,4.40,119,25.9,No,53,224,225,121,77.7
1,241,PA,180.8,5.97,62,35.1,No,122,241,242,64,105.3

In [ ]:
DIVIDIENDO_5 = lambda X : X / 5

In [ ]:
CHURN_ORDENADO3[" DIVIDIDO_5"] = CHURN_ORDENADO3["TOTAL DE MINUTOS"].transform(DIVIDIENDO_5).copy()
CHURN_ORDENADO3

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA,AUMENTAR_1,AUMENTO_2,MULTIPLICADO POR 3,DIVIDIDO_5
0,224,WY,206.5,4.40,119,25.9,No,53,224,225,121,77.7,41.30
1,241,PA,180.8,5.97,62,35.1,No,122,241,242,64,105.3,36.16
2,103,NJ,133.4,6.95,126,40.9,No,95,103,104,128,122.7,26.68
3,594,VA,134.2,7.63,63,44.9,No,113,594,595,65,134.7,26.84
4,537,DC,164.0,8.76,90,51.5,No,80,537,538,92,154.5,32.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,175,SC,204.6,54.83,106,322.5,No,87,175,176,108,967.5,40.92
663,549,OR,236.4,55.20,48,324.7,No,81,549,550,50,974.1,47.28
664,35,TX,176.3,55.51,67,326.5,No,208,35,36,69,979.5,35.26
665,2,NY,317.8,56.59,67,332.9,No,161,2,3,69,998.7,63.56
666,203,DE,192.1,56.83,118,334.3,No,129,203,204,120,1002.9,38.42

In [ ]:
CHURN_ORDENADO3.head(3)

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA,AUMENTAR_1,AUMENTO_2,MULTIPLICADO POR 3,DIVIDIDO_5
0,224,WY,206.5,4.40,119,25.9,No,53,224,225,121,77.7,41.30
1,241,PA,180.8,5.97,62,35.1,No,122,241,242,64,105.3,36.16
2,103,NJ,133.4,6.95,126,40.9,No,95,103,104,128,122.7,26.68

In [ ]:
CUADRADO_2 = lambda X : X ** 2

In [ ]:
CHURN_ORDENADO3["CUADRADO DE CARGO"] = CHURN_ORDENADO3["CARGO TOTAL"].transform(CUADRADO_2).copy()
CHURN_ORDENADO3

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA,AUMENTAR_1,AUMENTO_2,MULTIPLICADO POR 3,DIVIDIDO_5,CUADRADO DE CARGO
0,224,WY,206.5,4.40,119,25.9,No,53,224,225,121,77.7,41.30,19.3600
1,241,PA,180.8,5.97,62,35.1,No,122,241,242,64,105.3,36.16,35.6409
2,103,NJ,133.4,6.95,126,40.9,No,95,103,104,128,122.7,26.68,48.3025
3,594,VA,134.2,7.63,63,44.9,No,113,594,595,65,134.7,26.84,58.2169
4,537,DC,164.0,8.76,90,51.5,No,80,537,538,92,154.5,32.80,76.7376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,175,SC,204.6,54.83,106,322.5,No,87,175,176,108,967.5,40.92,3006.3289
663,549,OR,236.4,55.20,48,324.7,No,81,549,550,50,974.1,47.28,3047.0400
664,35,TX,176.3,55.51,67,326.5,No,208,35,36,69,979.5,35.26,3081.3601
665,2,NY,317.8,56.59,67,332.9,No,161,2,3,69,998.7,63.56,3202.4281
666,203,DE,192.1,56.83,118,334.3,No,129,203,204,120,1002.9,38.42,3229.6489

In [ ]:
CHURN_ORDENADO3["PLAN_NEGACION"] = CHURN_ORDENADO3["PLAN INTERNACIONAL"].copy()
CHURN_ORDENADO3

,index,ESTADO,TOTAL DE MINUTOS,CARGO TOTAL,LLAMADAS DIARIAS,MINUTOS TOTALES DEL DIA,PLAN INTERNACIONAL,LONGITUD DE LA CUENTA,AGREGANDO LISTA,AUMENTAR_1,AUMENTO_2,MULTIPLICADO POR 3,DIVIDIDO_5,CUADRADO DE CARGO,PLAN_NEGACION
0,224,WY,206.5,4.40,119,25.9,No,53,224,225,121,77.7,41.30,19.3600,No
1,241,PA,180.8,5.97,62,35.1,No,122,241,242,64,105.3,36.16,35.6409,No
2,103,NJ,133.4,6.95,126,40.9,No,95,103,104,128,122.7,26.68,48.3025,No
3,594,VA,134.2,7.63,63,44.9,No,113,594,595,65,134.7,26.84,58.2169,No
4,537,DC,164.0,8.76,90,51.5,No,80,537,538,92,154.5,32.80,76.7376,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,175,SC,204.6,54.83,106,322.5,No,87,175,176,108,967.5,40.92,3006.3289,No
663,549,OR,236.4,55.20,48,324.7,No,81,549,550,50,974.1,47.28,3047.0400,No
664,35,TX,176.3,55.51,67,326.5,No,208,35,36,69,979.5,35.26,3081.3601,No
665,2,NY,317.8,56.59,67,332.9,No,161,2,3,69,998.7,63.56,3202.4281,No
666,203,DE,192.1,56.83,118,334.3,No,129,203,204,120,1002.9,38.42,3229.6489,No

In [ ]:
CUADRADO_2 = lambda X : X ** 2
NEGAR_PLAN = lambda: not(X)

In [ ]:
NEGACION_PLAN = pd.DataFrame(
    {
        "PLAN_NEGACION" : CHURN_ORDENADO3["PLAN INTERNACIONAL"].tranform(NEGAR_PLAN)
}.copy()
)

NEGACION_PLAN

AttributeError: 'Series' object has no attribute 'tranform'

In [ ]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\TELECOM_CHURN_DATASET\\VISUALIZACION_CHURN_MODEL.csv"
ELIMINANDO = pd.read_csv(RUTA)
ELIMINANDO

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

#### ELIMINAR FILAS EN UN DATASET

### AXIS = 0  ---> FILAS
### debes proporcionar las indices de las filas

#### ELIMINACION MEDIANTE LISTA

In [ ]:
DATOS_ELIMINADOS = ELIMINANDO.drop([1,2,3,4,5,8,9,10], axis = 0).copy()
DATOS_ELIMINADOS.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
6,MI,65,415,No,No,0,211.3,120,35.92,162.6,122,13.82,134.7,118,6.06,13.2,5,3.56,3,False
7,ID,119,415,No,No,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5,True
11,HI,85,415,No,No,0,235.8,109,40.09,157.2,94,13.36,188.2,99,8.47,12.0,3,3.24,0,False
12,MN,46,415,No,No,0,214.1,72,36.40,164.4,104,13.97,177.5,113,7.99,8.2,3,2.21,2,False

In [ ]:
DATOS_ELIMINADOS = ELIMINANDO.drop([1,2,7,9], axis = 0).copy()
DATOS_ELIMINADOS.head(3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

#### eliminacion mediante rango

In [ ]:
DATOS_ELIMINADOS_1 = ELIMINANDO.drop(range(10,40), axis = 0)
DATOS_ELIMINADOS_1.head(20)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
5,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False
6,MI,65,415,No,No,0,211.3,120,35.92,162.6,122,13.82,134.7,118,6.06,13.2,5,3.56,3,False
7,ID,119,415,No,No,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5,True
8,VA,10,408,No,No,0,186.1,112,31.64,190.2,66,16.17,282.8,57,12.73,11.4,6,3.08,2,False
9,WI,68,415,No,No,0,148.8,70,25.30,246.5,164,20.95,129.8,103,5.84,12.1,3,3.27,3,False
40,KY,45,415,No,Yes,22,196.6,84,33.42,313.2,92,26.62,163.3,108,7.35,11.9,3,3.21,0,False
41,MN,139,510,No,No,0,134.4,106,22.85,211.3,98,17.96,193.6,125,8.71,10.2,2,2.75,5,True
42,WY,215,510,No,No,0,83.6,148,14.21,120.9,91,10.28,226.6,110,10.20,10.7,9,2.89,0,False
43,AZ,94,408,No,No,0,181.8,85,30.91,202.4,98,17.20,245.9,97,11.07,9.2,2,2.48,4,False
44,NM,119,510,No,Yes,23,154.0,114,26.18,278.0,137,23.63,228.4,112,10.28,11.8,4,3.19,2,False
45,MI,86,510,No,Yes,41,119.0,101,20.23,230.0,134,19.55,236.9,58,10.66,9.5,3,2.57,0,False
46,FL,106,408,No,Yes,32,165.9,126,28.20,216.5,93,18.40,173.1,86,7.79,14.1,8,3.81,4,False
47,KS,92,408,Yes,No,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,True
48,SC,78,510,No,No,0,168.3,110,28.61,221.2,73,18.80,241.0,136,10.85,12.5,1,3.38,1,False
49,NC,155,408,No,No,0,262.4,55,44.61,194.6,113,16.54,146.5,85,6.59,8.3,6,2.24,2,False

 #### eliminar columnas de un dataset

 #### axis = 1

In [ ]:
DATOS_ELIMINADO2 = DATOS_ELIMINADOS_1.drop(["International plan"], axis = 1).copy()
DATOS_ELIMINADO2.head(3)

,State,Account length,Area code,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True

In [ ]:
DATOS_ELIMINADOS_1.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True

In [ ]:
ELIMINANDO_COLUMNAS = DATOS_ELIMINADOS_1.drop(["Voice mail plan"], axis = 1).copy()
ELIMINANDO_COLUMNAS.head(5)

,State,Account length,Area code,International plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
ELIMINANDO_COLUMNAS = DATOS_ELIMINADOS_1.drop(["Number vmail messages"], axis = 1).copy()
ELIMINANDO_COLUMNAS.head(1)

,State,Account length,Area code,International plan,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False

In [ ]:
ELIMINANDO_FILAS = DATOS_ELIMINADOS_1.drop([1,2,3,4,5,6], axis = 0).copy()
ELIMINANDO_FILAS

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
7,ID,119,415,No,No,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5,True
8,VA,10,408,No,No,0,186.1,112,31.64,190.2,66,16.17,282.8,57,12.73,11.4,6,3.08,2,False
9,WI,68,415,No,No,0,148.8,70,25.30,246.5,164,20.95,129.8,103,5.84,12.1,3,3.27,3,False
40,KY,45,415,No,Yes,22,196.6,84,33.42,313.2,92,26.62,163.3,108,7.35,11.9,3,3.21,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
ELIMINANDO_FILAS = DATOS_ELIMINADOS_1.drop([90,100], axis = 0).copy()
ELIMINANDO_FILAS

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
ELIMINANDO_FILAS = DATOS_ELIMINADOS_1.drop(range(200,300), axis = 0).copy()
ELIMINANDO_FILAS.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NE,21,510,No,No,0,225.0,110,38.25,244.2,111,20.76,221.2,93,9.95,10.7,4,2.89,0,False
376,ND,110,408,No,No,0,196.1,103,33.34,199.7,123,16.97,135.9,71,6.12,12.9,1,3.48,3,False
377,NH,83,415,No,No,0,231.3,100,39.32,210.4,84,17.88,217.4,106,9.78,12.4,2,3.35,3,False
378,IN,101,415,No,Yes,42,209.2,82,35.56,159.7,74,13.57,181.6,100,8.17,9.5,3,2.57,0,False
379,OR,117,415,No,Yes,17,221.3,82,37.62,167.6,100,14.25,262.7,87,11.82,4.4,4,1.19,0,False

In [ ]:
ELIMINANDO_FILAS.shape

(537, 20)

In [ ]:
ELIMINANDO_FILAS.head(3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True

In [ ]:
ELIMINAR_PLAN_VMAIL = ELIMINANDO_FILAS.drop(["International plan","Number vmail messages",
                                             "Account length"], axis = 1).copy()

ELIMINAR_PLAN_VMAIL.head(5)

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,408,No,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,415,No,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,415,No,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,415,No,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,510,No,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
delete_filas = ELIMINAR_PLAN_VMAIL.drop(range(90,100), axis = 0).copy()
delete_filas

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,408,No,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,415,No,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,415,No,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,415,No,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,510,No,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,415,Yes,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,408,Yes,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,415,No,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,415,No,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,510,No,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
delete_filas.head(5)

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,408,No,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,415,No,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,415,No,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,415,No,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,510,No,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

#### GENERACION DE VARIABLES DUMY

In [ ]:
delete_filas.dtypes

State                      object
Area code                   int64
Voice mail plan            object
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [ ]:
COLUMNAS_DUMMY = list(delete_filas.select_dtypes(include = ["object",bool]))
COLUMNAS_DUMMY

['State', 'Voice mail plan', 'Churn']

In [ ]:
DATASET_DUMMY_STATE = pd.get_dummies(delete_filas["State"], prefix = "State")
DATASET_DUMMY_STATE.head(20)

,State_AK,State_AL,State_AR,State_AZ,State_CA,State_CO,State_CT,State_DC,State_DE,State_FL,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
43,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
DATASET_DUMMY_VMP = pd.get_dummies(delete_filas["Voice mail plan"], prefix = "VMP")
DATASET_DUMMY_VMP

     VMP_No  VMP_Yes
0         1        0
1         1        0
2         1        0
3         1        0
4         1        0
..      ...      ...
662       0        1
663       0        1
664       1        0
665       1        0
666       1        0

[527 rows x 2 columns]

In [ ]:
delete_filas.head(5)

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,408,No,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,415,No,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,415,No,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,415,No,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,510,No,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
DATASET_DUMMY_CHURN = pd.get_dummies(delete_filas["Churn"], prefix = "CHURN")
DATASET_DUMMY_CHURN

     CHURN_False  CHURN_True
0              1           0
1              0           1
2              0           1
3              1           0
4              1           0
..           ...         ...
662            1           0
663            1           0
664            1           0
665            1           0
666            1           0

[527 rows x 2 columns]

In [ ]:
delete_filas = pd.concat([delete_filas,DATASET_DUMMY_CHURN], axis = 1)
delete_filas

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,CHURN_False,CHURN_True
0,LA,408,No,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False,1,0
1,IN,415,No,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True,0,1
2,NY,415,No,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True,0,1
3,SC,415,No,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False,1,0
4,HI,510,No,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,415,Yes,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False,1,0
663,AL,408,Yes,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False,1,0
664,VT,415,No,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False,1,0
665,WV,415,No,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False,1,0
666,CT,510,No,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False,1,0

In [ ]:
delete_filas = pd.concat([delete_filas,DATASET_DUMMY_STATE], axis = 1)
delete_filas.head(5)

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
0,LA,408,No,184.5,97,31.37,351.6,80,29.89,215.8,...,0,0,0,0,0,0,0,0,0,0
1,IN,415,No,129.1,137,21.95,228.5,83,19.42,208.8,...,0,0,0,0,0,0,0,0,0,0
2,NY,415,No,332.9,67,56.59,317.8,97,27.01,160.6,...,0,0,0,0,0,0,0,0,0,0
3,SC,415,No,110.4,103,18.77,137.3,102,11.67,189.6,...,0,0,0,0,0,0,0,0,0,0
4,HI,510,No,119.3,117,20.28,215.1,109,18.28,178.7,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
delete_filas = pd.concat([delete_filas, DATASET_DUMMY_VMP,DATASET_DUMMY_CHURN], axis = 1)
delete_filas

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,...,CHURN_False,CHURN_True,VMP_No,VMP_Yes,CHURN_False,CHURN_True,VMP_No,VMP_Yes,CHURN_False,CHURN_True
0,LA,408,No,184.5,97,31.37,351.6,80,29.89,215.8,...,1,0,1,0,1,0,1,0,1,0
1,IN,415,No,129.1,137,21.95,228.5,83,19.42,208.8,...,0,1,1,0,0,1,1,0,0,1
2,NY,415,No,332.9,67,56.59,317.8,97,27.01,160.6,...,0,1,1,0,0,1,1,0,0,1
3,SC,415,No,110.4,103,18.77,137.3,102,11.67,189.6,...,1,0,1,0,1,0,1,0,1,0
4,HI,510,No,119.3,117,20.28,215.1,109,18.28,178.7,...,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,415,Yes,137.1,88,23.31,155.7,125,13.23,247.6,...,1,0,0,1,1,0,0,1,1,0
663,AL,408,Yes,83.6,131,14.21,203.9,131,17.33,229.5,...,1,0,0,1,1,0,0,1,1,0
664,VT,415,No,193.9,118,32.96,85.0,110,7.23,210.1,...,1,0,1,0,1,0,1,0,1,0
665,WV,415,No,169.8,114,28.87,197.7,105,16.80,193.7,...,1,0,1,0,1,0,1,0,1,0
666,CT,510,No,213.8,105,36.35,159.6,84,13.57,139.2,...,1,0,1,0,1,0,1,0,1,0

In [ ]:
delete_filas.describe()

,Area code,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,...,State_WV,State_WY,VMP_No,VMP_Yes,CHURN_False,CHURN_True,VMP_No,VMP_Yes,CHURN_False,CHURN_True
count,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,...,527.000000,527.000000,527.00000,527.00000,527.000000,527.000000,527.00000,527.00000,527.000000,527.000000
mean,436.521822,181.321822,101.121442,30.825332,205.559772,100.626186,17.472562,200.225047,99.755218,9.010228,...,0.030361,0.017078,0.70019,0.29981,0.851992,0.148008,0.70019,0.29981,0.851992,0.148008
std,42.188368,55.989038,20.467364,9.518110,49.347791,19.152250,4.194615,49.305616,20.001303,2.218979,...,0.171740,0.129684,0.45861,0.45861,0.355445,0.355445,0.45861,0.45861,0.355445,0.355445
min,408.000000,40.900000,35.000000,6.950000,60.800000,37.000000,5.170000,61.400000,42.000000,2.760000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000
25%,408.000000,144.950000,87.000000,24.645000,174.550000,88.000000,14.840000,168.950000,86.000000,7.605000,...,0.000000,0.000000,0.00000,0.00000,1.000000,0.000000,0.00000,0.00000,1.000000,0.000000
50%,415.000000,176.100000,101.000000,29.940000,203.800000,101.000000,17.320000,201.700000,99.000000,9.080000,...,0.000000,0.000000,1.00000,0.00000,1.000000,0.000000,1.00000,0.00000,1.000000,0.000000
75%,415.000000,223.100000,115.500000,37.925000,238.150000,113.000000,20.240000,231.400000,114.000000,10.415000,...,0.000000,0.000000,1.00000,1.00000,1.000000,0.000000,1.00000,1.00000,1.000000,0.000000
max,510.000000,332.900000,148.000000,56.590000,361.800000,168.000000,30.750000,367.700000,151.000000,16.550000,...,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000

#### agrupar un dataset mediante 1 variable

In [ ]:
DATASET_AGRUPADO_STATE = delete_filas.groupby(["State"])
DATASET_AGRUPADO_STATE

In [ ]:
DATASET_AGRUPADO_STATE.get_group("NJ")

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,...,State_WV,State_WY,VMP_No,VMP_Yes,CHURN_False,CHURN_True,VMP_No,VMP_Yes,CHURN_False,CHURN_True
103,NJ,415,Yes,40.9,126,6.95,133.4,90,11.34,264.2,...,0,0,0,1,1,0,0,1,1,0
148,NJ,510,Yes,155.4,110,26.42,188.5,104,16.02,254.9,...,0,0,0,1,1,0,0,1,1,0
156,NJ,415,No,224.8,111,38.22,190.0,101,16.15,221.4,...,0,0,1,0,1,0,1,0,1,0
305,NJ,510,No,239.8,107,40.77,128.9,121,10.96,249.9,...,0,0,1,0,1,0,1,0,1,0
317,NJ,510,No,154.8,111,26.32,171.5,102,14.58,227.3,...,0,0,1,0,1,0,1,0,1,0
329,NJ,415,No,178.8,102,30.40,167.9,84,14.27,178.9,...,0,0,1,0,1,0,1,0,1,0
358,NJ,415,No,191.4,124,32.54,200.7,116,17.06,230.1,...,0,0,1,0,1,0,1,0,1,0
362,NJ,415,No,268.7,120,45.68,301.0,147,25.59,167.0,...,0,0,1,0,0,1,1,0,0,1
366,NJ,415,No,182.3,64,30.99,139.8,121,11.88,171.6,...,0,0,1,0,1,0,1,0,1,0
529,NJ,415,No,279.1,124,47.45,180.5,108,15.34,217.5,...,0,0,1,0,0,1,1,0,0,1
540,NJ,510,Yes,247.2,105,42.02,225.5,133,19.17,186.3,...,0,0,0,1,0,1,0,1,0,1
560,NJ,408,No,158.6,67,26.96,130.4,96,11.08,229.8,...,0,0,1,0,1,0,1,0,1,0
614,NJ,415,No,239.3,102,40.68,223.4,127,18.99,251.4,...,0,0,1,0,1,0,1,0,1,0
617,NJ,408,Yes,96.3,83,16.37,179.6,91,15.27,166.3,...,0,0,0,1,1,0,0,1,1,0

In [ ]:
DATASET_AGRUPADO_STATE.get_group("LA")

,State,Area code,Voice mail plan,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,...,State_WV,State_WY,VMP_No,VMP_Yes,CHURN_False,CHURN_True,VMP_No,VMP_Yes,CHURN_False,CHURN_True
0,LA,408,No,184.5,97,31.37,351.6,80,29.89,215.8,...,0,0,1,0,1,0,1,0,1,0
87,LA,415,Yes,198.9,77,33.81,274.0,88,23.29,190.7,...,0,0,0,1,1,0,0,1,1,0
104,LA,510,No,310.4,97,52.77,66.5,123,5.65,246.5,...,0,0,1,0,1,0,1,0,1,0
127,LA,415,No,215.7,140,36.67,146.3,84,12.44,264.6,...,0,0,1,0,1,0,1,0,1,0
140,LA,415,No,241.9,101,41.12,129.4,121,11.00,264.8,...,0,0,1,0,1,0,1,0,1,0
161,LA,510,Yes,276.6,99,47.02,220.1,113,18.71,177.9,...,0,0,0,1,1,0,0,1,1,0
308,LA,415,Yes,128.8,104,21.90,157.3,52,13.37,147.4,...,0,0,0,1,1,0,0,1,1,0
311,LA,415,Yes,115.9,120,19.70,236.6,95,20.11,255.0,...,0,0,0,1,1,0,0,1,1,0
369,LA,510,No,174.5,127,29.67,259.3,71,22.04,170.5,...,0,0,1,0,1,0,1,0,1,0
488,LA,415,No,145.1,116,24.67,233.7,82,19.86,208.7,...,0,0,1,0,1,0,1,0,1,0
627,LA,415,No,190.5,128,32.39,205.5,103,17.47,130.7,...,0,0,1,0,1,0,1,0,1,0

In [ ]:
DATASET_AGRUPADO_STATE = delete_filas.groupby(["State"])
DATASET_AGRUPADO_STATE

In [ ]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\TELECOM_CHURN_DATASET\\VISUALIZACION_CHURN_MODEL.csv"

In [ ]:
DATOS_AGRUPADOS = pd.read_csv(RUTA).copy()
DATOS_AGRUPADOS.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [ ]:
DATOS_AGRUPADOS1  = DATOS_AGRUPADOS.groupby(["State"])

In [ ]:
DATOS_AGRUPADOS1.get_group("HI").copy()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
11,HI,85,415,No,No,0,235.8,109,40.09,157.2,94,13.36,188.2,99,8.47,12.0,3,3.24,0,False
357,HI,104,408,No,No,0,170.6,97,29.00,162.1,111,13.78,210.7,131,9.48,6.1,1,1.65,1,False
392,HI,86,408,No,Yes,21,197.9,99,33.64,165.6,100,14.08,208.0,120,9.36,10.1,9,2.73,0,False
401,HI,105,415,No,No,0,281.3,124,47.82,301.5,96,25.63,202.8,109,9.13,8.7,3,2.35,0,True
467,HI,111,408,No,Yes,13,193.1,104,32.83,111.6,98,9.49,227.4,94,10.23,12.1,4,3.27,1,False
517,HI,105,510,No,No,0,125.4,116,21.32,261.5,95,22.23,241.6,104,10.87,11.4,9,3.08,2,False
530,HI,171,510,No,No,0,189.8,122,32.27,173.7,85,14.76,257.1,84,11.57,10.3,1,2.78,0,False
589,HI,150,415,No,No,0,214.0,117,36.38,192.4,89,16.35,242.6,99,10.92,7.9,4,2.13,1,False

####  agrupar la informacion con base a alguna funcion

In [ ]:
DATOS_AGRUPADOS1.sum()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,
AK,720,3795,159,1530.3,885,260.15,1646.6,913,139.96,1715.8,845,77.21,85.2,40,23.02,16,0
AL,1368,6074,129,2448.2,1365,416.19,2912.3,1404,247.55,2770.0,1208,124.65,150.6,66,40.67,15,1
AR,861,3598,130,1475.7,712,250.87,1513.5,691,128.65,1826.1,892,82.18,78.0,31,21.06,8,0
AZ,1790,8325,199,3164.0,1842,537.89,3688.5,1917,313.53,3469.6,1878,156.13,202.7,73,54.74,40,1
CA,963,4699,57,1902.4,1137,323.40,1984.7,949,168.72,2146.3,970,96.59,91.9,45,24.82,16,4
CO,751,2884,69,1203.7,680,204.63,1348.2,803,114.59,1340.6,767,60.32,74.6,21,20.14,10,2
CT,1756,6468,297,2677.8,1466,455.24,3047.8,1512,259.08,3332.7,1556,149.98,156.7,69,42.30,29,1
DC,945,3714,114,1706.3,1002,290.08,1702.3,920,144.69,1893.7,909,85.21,87.5,29,23.64,15,0
DE,1120,4421,55,1799.3,991,305.89,2007.8,873,170.66,1987.9,987,89.46,99.5,63,26.89,12,1
FL,975,3904,83,1667.4,1005,283.45,2115.7,1088,179.83,1788.0,881,80.47,96.3,38,26.00,12,1
GA,662,2353,0,853.5,439,145.10,1014.2,618,86.21,876.8,509,39.45,47.4,21,12.80,10,0
HI,966,3999,34,1727.2,1005,293.63,1740.7,877,147.96,1957.1,930,88.07,89.7,35,24.23,6,1
IA,559,2768,58,890.6,577,151.41,1384.9,650,117.71,1080.8,654,48.64,55.2,27,14.92,9,0
ID,1880,7421,164,3270.6,1705,556.01,3306.5,1800,281.04,3288.7,1709,147.99,185.8,92,50.18,30,4
IL,1284,5754,122,2420.0,1351,411.40,2296.5,1253,195.20,2492.5,1376,112.16,136.4,57,36.85,16,1
IN,1613,7203,193,3319.1,1887,564.25,3616.3,1624,307.38,3330.4,1816,149.87,181.9,74,49.11,33,3
KS,2004,7822,163,3207.6,1856,545.31,3624.2,1994,308.05,3602.5,1712,162.12,192.3,89,51.92,20,3
KY,1404,6693,78,2707.5,1659,460.29,3218.9,1511,273.62,3130.0,1583,140.84,162.0,74,43.74,26,2
LA,1663,6911,114,3091.0,1675,525.50,3305.7,1546,280.99,3058.1,1522,137.62,155.7,85,42.04,27,1
MA,1236,5543,67,2514.1,1365,427.39,2708.2,1272,230.21,2265.7,1249,101.96,122.2,66,32.99,15,3
MD,1307,4516,106,1889.1,1085,321.15,2059.4,909,175.07,1817.4,967,81.77,118.7,47,32.05,20,3
ME,1158,5455,120,2545.9,1244,432.82,2575.6,1274,218.93,2531.1,1368,113.90,131.7,58,35.57,23,2
MI,1279,6503,213,2798.8,1641,475.81,3085.5,1596,262.28,2823.9,1483,127.07,160.6,65,43.36,27,3
MN,1285,6176,82,2829.2,1403,480.99,2831.1,1292,240.64,3056.5,1464,137.54,148.2,54,40.02,24,2
MO,925,5360,94,2066.8,1202,351.37,2215.4,1149,188.30,2718.7,1210,122.34,115.0,57,31.05,20,2
MS,1540,7502,154,3239.9,1630,550.79,3545.9,1756,301.40,3397.0,1768,152.85,193.5,59,52.26,29,3
MT,1525,6584,101,2635.7,1424,448.09,3141.5,1480,267.03,2967.9,1527,133.54,155.2,75,41.91,27,4
NC,1340,5128,91,2202.3,1215,374.40,2579.7,1231,219.30,2527.2,1208,113.73,117.0,61,31.59,20,2
ND,1875,7808,101,3420.6,1782,581.52,3978.2,2023,338.14,3492.0,1825,157.16,188.0,79,50.78,24,2
NE,1503,7006,95,2799.4,1681,475.92,3306.1,1720,281.02,3288.1,1545,147.97,154.6,72,41.76,16,1
NH,1304,5631,178,2296.9,1195,390.49,2590.0,1235,220.14,2516.9,1187,113.27,118.1,49,31.91,15,0
NJ,1866,8026,143,3389.0,1839,576.15,3490.8,1965,296.73,3836.0,1791,172.61,173.8,79,46.92,29,4
NM,1777,7734,133,2986.5,1865,507.70,3816.9,1882,324.43,3512.4,1719,158.06,194.2,89,52.47,35,2
NV,416,2054,59,801.3,453,136.22,970.5,502,82.49,1068.1,506,48.06,47.6,29,12.85,7,1
NY,1811,6686,27,2791.8,1410,474.60,2960.7,1440,251.65,2990.8,1544,134.60,134.1,61,36.21,27,3
OH,1461,5054,101,2105.9,1185,358.01,2453.0,1204,208.51,2200.8,1206,99.04,122.9,48,33.19,17,0
OK,855,4101,98,1614.5,926,274.46,1838.9,898,156.32,1786.5,859,80.39,89.2,45,24.10,15,2
OR,1699,7013,119,3183.9,1604,541.28,3445.0,1572,292.82,3212.3,1672,144.56,151.8,65,41.00,24,4
PA,997,3897,40,1413.3,879,240.28,1887.5,960,160.44,1855.0,869,83.48,96.9,45,26.16,10,0
RI,1986,7020,118,2521.1,1686,428.59,3848.9,1696,327.15,3338.4,1638,150.24,158.5,87,42.79,24,3
SC,1308,5026,111,2022.6,1171,343.86,2357.0,1052,200.34,2236.2,1120,100.64,112.7,50,30.44,23,3
SD,1093,4625,167,2002.6,1087,340.45,1987.0,1098,168.89,2198.0,1031,98.92,121.2,58,32.73,15,2
TN,1211,5156,71,1819.2,1291,309.27,2655.9,1159,225.74,2723.8,1265,122.57,117.4,56,31.71,16,0
TX,1941,7400,118,3112.5,1631,529.12,3499.6,1768,297.46,3033.5,1814,136.49,178.0,74,48.07,34,2
UT,1275,5543,62,2202.9,1144,374.50,2283.9,1186,194.13,2164.6,1201,97.41,138.1,56,37.28,19,2
VA,1065,4129,96,1649.9,1017,280.49,2000.7,965,170.07,2149.5,1071,96.73,108.9,52,29.42,20,1
VT,1698,6999,106,2850.8,1565,484.65,3463.5,1602,294.41,3298.1,1452,148.42,166.5,66,44.96,28,2
WA,1785,7910,101,3374.8,1854,573.71,3658.1,1723,310.95,3650.2,1812,164.26,179.9,77,48.60,30,4
WI,1800,7590,146,3249.9,1624,552.49,3338.5,1720,283.78,3442.8,1832,154.93,172.4,71,46.55,28,3
WV,1803,8100,134,3301.7,1805,561.30,3608.4,1650,306.68,3753.1,1797,168.88,194.9,83,52.63,16,3
WY,1187,4836,38,1997.3,1183,339.54,1981.3,1096,168.40,2250.0,1072,101.25,117.8,58,31.82,16,1

In [ ]:
DATOS_AGRUPADOS1.count()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,,,
AK,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
AL,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
AR,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
AZ,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
CA,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
CO,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
CT,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
DC,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
DE,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
FL,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
GA,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
HI,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
IA,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
ID,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
IL,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
IN,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
KS,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
KY,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
LA,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
MA,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
MD,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
ME,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
MI,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
MN,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
MO,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
MS,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
MT,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
NC,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
ND,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
NE,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
NH,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
NJ,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
NM,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
NV,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
NY,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
OH,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
OK,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
OR,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
PA,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
RI,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
SC,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
SD,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
TN,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
TX,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
UT,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
VA,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
VT,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
WA,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
WI,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
WV,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
WY,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11

#### Tamaño de la categoria

In [ ]:
DATOS_AGRUPADOS1.size()

State
AK     9
AL    14
AR     8
AZ    19
CA    10
CO     7
CT    15
DC     9
DE    10
FL     9
GA     5
HI     9
IA     6
ID    17
IL    13
IN    17
KS    18
KY    16
LA    16
MA    13
MD    10
ME    13
MI    15
MN    14
MO    12
MS    17
MT    15
NC    12
ND    18
NE    16
NH    13
NJ    18
NM    18
NV     5
NY    15
OH    12
OK     9
OR    16
PA     9
RI    17
SC    11
SD    11
TN    12
TX    17
UT    12
VA    10
VT    16
WA    18
WI    17
WV    18
WY    11
dtype: int64

####  descripcion de la categoria

In [ ]:
DATOS_AGRUPADOS1.describe()

      Account length                                                       \
               count        mean        std    min     25%    50%     75%
State
AK               9.0   80.000000  42.225585    1.0   55.00   96.0  110.00
AL              14.0   97.714286  41.499636   32.0   72.00   85.0  120.00
AR               8.0  107.625000  51.856774   54.0   61.50   96.5  153.75
AZ              19.0   94.210526  31.215343   48.0   73.50   92.0   98.50
CA              10.0   96.300000  34.348055   37.0   76.00   88.5  120.75
CO               7.0  107.285714  29.426260   57.0   94.00  103.0  131.00
CT              15.0  117.066667  52.593409    3.0   95.50  124.0  148.00
DC               9.0  105.000000  28.200177   70.0   80.00  102.0  123.00
DE              10.0  112.000000  23.921167   81.0   91.50  108.5  130.50
FL               9.0  108.333333  36.173194   31.0  103.00  106.0  136.00
GA               5.0  132.400000  17.111400  107.0  131.00  133.0  136.00
HI               9.0  107.333333  35.822479   49.0   86.00  105.0  111.00
IA               6.0   93.166667  27.838223   63.0   76.75   90.0   98.00
ID              17.0  110.588235  33.758441   56.0   88.00  105.0  122.00
IL              13.0   98.769231  42.481670   31.0   68.00   90.0  130.00
IN              17.0   94.882353  27.008985   46.0   72.00  100.0  114.00
KS              18.0  111.333333  36.042459   57.0   89.00  110.5  127.75
KY              16.0   87.750000  29.415415   38.0   63.00   91.5  112.25
LA              16.0  103.937500  35.172847   43.0   87.00  103.5  118.00
MA              13.0   95.076923  33.452607   34.0   80.00  102.0  111.00
MD              10.0  130.700000  51.305295   37.0   99.50  131.5  162.25
ME              13.0   89.076923  51.766240   19.0   57.00   80.0  105.00
MI              15.0   85.266667  30.772127   36.0   63.00   81.0  106.50
MN              14.0   91.785714  42.062552   13.0   59.75   89.5  122.75
MO              12.0   77.083333  45.677642    6.0   50.25   81.0  102.50
MS              17.0   90.588235  44.812190    1.0   69.00   84.0  116.00
MT              15.0  101.666667  33.699654   27.0  100.50  109.0  120.00
NC              12.0  111.666667  50.380973   26.0   75.75  102.5  156.75
ND              18.0  104.166667  48.537735   12.0   70.25  114.0  123.75
NE              16.0   93.937500  36.526646   21.0   74.50   93.5  123.00
NH              13.0  100.307692  32.727116   54.0   83.00   90.0  123.00
NJ              18.0  103.666667  43.105889   35.0   80.75  106.5  126.50
NM              18.0   98.722222  58.746520   21.0   56.75   88.5  119.00
NV               5.0   83.200000  48.453070    7.0   64.00  105.0  116.00
NY              15.0  120.733333  46.285553   39.0   99.00  122.0  158.50
OH              12.0  121.750000  43.121657   32.0   92.75  135.0  150.00
OK               9.0   95.000000  29.355579   52.0   84.00  101.0  112.00
OR              16.0  106.187500  42.403174   27.0   80.00   94.5  143.75
PA               9.0  110.777778  23.188239   82.0   91.00  104.0  134.00
RI              17.0  116.823529  32.342378   63.0   93.00  121.0  134.00
SC              11.0  118.909091  42.318919   64.0   87.50  111.0  144.50
SD              11.0   99.363636  26.792808   65.0   86.50   91.0  110.50
TN              12.0  100.916667  47.515468   33.0   62.00  106.5  124.50
TX              17.0  114.176471  52.013502   50.0   71.00  119.0  126.00
UT              12.0  106.250000  47.745776   44.0   73.75   99.5  140.50
VA              10.0  106.500000  51.972749   10.0   77.75  101.0  148.75
VT              16.0  106.125000  38.094400   38.0   78.25  105.0  128.00
WA              18.0   99.166667  40.769438   13.0   82.25   98.5  123.00
WI              17.0  105.882353  34.349095   35.0   87.00  107.0  120.00
WV              18.0  100.166667  47.822281   13.0   68.50  105.5  126.25
WY              11.0  107.909091  55.252972   16.0   66.50  111.0  140.00

             Area code              ... Total intl charge        \
         max     count        mean  ...               75%   max
State                               ...
AK     132.0       9.0  421.666667  ...            3.0000  3.92
AL     182.0      14.0  433.857143  ...            3.3225  3.86
AR     185.0       8.0  449.750000  ...            2.8000  4.19
AZ     163.0      19.0  438.157895  ...            3.2700  3.78
CA     158.0      10.0  469.900000  ...            3.1100  3.54
CO     141.0       7.0  412.000000  ...            2.9400  3.59
CT     199.0      15.0  431.200000  ...            3.3900  4.48
DC     148.0       9.0  412.666667  ...            3.0500  3.32
DE     148.0      10.0  442.100000  ...            3.2150  3.54
FL     144.0       9.0  433.777778  ...            3.2900  3.81
GA     155.0       5.0  470.600000  ...            3.1300  3.43
HI     171.0       9.0  444.333333  ...            3.0800  3.27
IA     143.0       6.0  461.333333  ...            2.8450  3.00
ID     193.0      17.0  436.529412  ...            3.1600  4.94
IL     183.0      13.0  442.615385  ...            3.1600  3.65
IN     141.0      17.0  423.705882  ...            3.4300  4.10
KS     186.0      18.0  434.555556  ...            3.3325  4.56
KY     131.0      16.0  418.312500  ...            3.2250  4.10
LA     172.0      16.0  431.937500  ...            3.0700  3.86
MA     142.0      13.0  426.384615  ...            2.9700  3.94
MD     204.0      10.0  451.600000  ...            3.4325  4.16
ME     176.0      13.0  419.615385  ...            3.0000  3.62
MI     139.0      15.0  433.533333  ...            3.2250  4.00
MN     155.0      14.0  441.142857  ...            3.2225  4.46
MO     167.0      12.0  446.666667  ...            2.9225  4.62
MS     189.0      17.0  441.294118  ...            3.4600  4.43
MT     143.0      15.0  438.933333  ...            3.3750  3.75
NC     190.0      12.0  427.333333  ...            2.9825  4.51
ND     190.0      18.0  433.777778  ...            3.4175  4.02
NE     147.0      16.0  437.875000  ...            3.0675  4.67
NH     155.0      13.0  433.153846  ...            3.0000  3.38
NJ     197.0      18.0  445.888889  ...            2.9575  4.24
NM     232.0      18.0  429.666667  ...            3.1900  4.08
NV     124.0       5.0  410.800000  ...            2.9200  3.56
NY     209.0      15.0  445.733333  ...            3.0950  4.16
OH     169.0      12.0  421.166667  ...            3.4650  3.70
OK     138.0       9.0  455.666667  ...            3.3800  3.73
OR     166.0      16.0  438.312500  ...            3.5400  4.32
PA     142.0       9.0  433.000000  ...            3.4300  4.59
RI     180.0      17.0  412.941176  ...            2.8400  4.37
SC     209.0      11.0  456.909091  ...            3.3250  3.83
SD     145.0      11.0  420.454545  ...            3.3200  4.43
TN     196.0      12.0  429.666667  ...            2.9825  4.05
TX     217.0      17.0  435.294118  ...            3.2100  4.08
UT     201.0      12.0  461.916667  ...            3.4575  4.86
VA     182.0      10.0  412.900000  ...            3.3650  3.92
VT     195.0      16.0  437.437500  ...            3.3425  3.81
WA     166.0      18.0  439.444444  ...            3.0500  3.70
WI     165.0      17.0  446.470588  ...            3.1100  3.27
WV     191.0      18.0  450.000000  ...            3.1900  4.40
WY     215.0      11.0  439.636364  ...            3.1850  3.62

      Customer service calls
                       count      mean       std  min   25%  50%   75%  max
State
AK                       9.0  1.777778  1.301708  0.0  1.00  2.0  3.00  3.0
AL                      14.0  1.071429  1.071612  0.0  0.25  1.0  1.00  4.0
AR                       8.0  1.000000  1.069045  0.0  0.00  1.0  1.25  3.0
AZ                      19.0  2.105263  1.448936  0.0  1.00  2.0  3.00  4.0
CA                      10.0  1.600000  1.577621  0.0  0.25  1.5  2.00  5.0
CO                       7.0  1.428571  1.812654  0.0  0.00  1.0  2.50  4.0
CT                      15.0  1.933333  1.624221  0.0  1.00  2.0  3.00  5.0
DC                       9.0  1.666667  1.224745  0.0  1.00  1.0  2.00  4.0
DE                      10.0  1.200000  1.032796  0.0  0.25  1.0  2.00  3.0
FL                       9.0  1.333333  1.322876  0.0  1.00  1.0  1.00  4.0
GA                       5.0  2.000000  2.915476  0.0  0.00  1.0  2.00  7.0
HI                       9.0  0.666667  0.707107  0.0  0.00  1.0  1.00  2.0
IA                       6.0  1.500000  1.378405  0.0  1.00  1.0  1.75  4.0
ID                      17.0  1.764706  1.521899  0.0  1.00  2.0  2.00  5.0
IL                      13.0  1.230769  0.832050  0.0  1.00  1.0  2.00  3.0
IN                      17.0  1.941176  1.784327  0.0  0.00  1.0  4.00  5.0
KS                      18.0  1.111111  1.022620  0.0  1.00  1.0  1.00  4.0
KY                      16.0  1.625000  1.204159  0.0  1.00  1.5  2.00  5.0
LA                      16.0  1.687500  1.138347  0.0  1.00  1.5  2.25  4.0
MA                      13.0  1.153846  1.143544  0.0  0.00  1.0  2.00  3.0
MD                      10.0  2.000000  0.942809  1.0  1.00  2.0  3.00  3.0
ME                      13.0  1.769231  1.480644  0.0  1.00  1.0  3.00  4.0
MI                      15.0  1.800000  1.373213  0.0  1.00  2.0  2.50  5.0
MN                      14.0  1.714286  1.382783  0.0  1.00  2.0  2.00  5.0
MO                      12.0  1.666667  1.497473  0.0  0.75  1.5  2.25  5.0
MS                      17.0  1.705882  1.447615  0.0  1.00  2.0  2.00  6.0
MT                      15.0  1.800000  1.264911  0.0  1.00  2.0  2.50  4.0
NC                      12.0  1.666667  1.614330  0.0  1.00  1.0  2.00  6.0
ND                      18.0  1.333333  0.840168  0.0  1.00  1.0  2.00  3.0
NE                      16.0  1.000000  0.894427  0.0  0.00  1.0  1.25  3.0
NH                      13.0  1.153846  1.068188  0.0  0.00  1.0  2.00  3.0
NJ                      18.0  1.611111  1.036901  0.0  1.00  2.0  2.00  3.0
NM                      18.0  1.944444  1.211330  1.0  1.00  1.5  2.75  5.0
NV                       5.0  1.400000  0.547723  1.0  1.00  1.0  2.00  2.0
NY                      15.0  1.800000  1.373213  0.0  1.00  1.0  2.50  4.0
OH                      12.0  1.416667  1.240112  0.0  0.75  1.0  2.00  4.0
OK                       9.0  1.666667  1.581139  0.0  1.00  1.0  2.00  5.0
OR                      16.0  1.500000  1.366260  0.0  0.75  1.0  2.00  5.0
PA                       9.0  1.111111  0.927961  0.0  1.00  1.0  1.00  3.0
RI                      17.0  1.411765  1.277636  0.0  1.00  1.0  2.00  4.0
SC                      11.0  2.090909  2.119177  0.0  1.00  2.0  2.00  8.0
SD                      11.0  1.363636  1.120065  0.0  0.50  1.0  2.00  3.0
TN                      12.0  1.333333  1.302678  0.0  0.75  1.0  1.50  4.0
TX                      17.0  2.000000  1.414214  0.0  1.00  2.0  3.00  5.0
UT                      12.0  1.583333  1.729862  0.0  0.75  1.0  2.25  6.0
VA                      10.0  2.000000  1.247219  1.0  1.00  2.0  2.00  5.0
VT                      16.0  1.750000  1.612452  0.0  0.75  1.0  3.00  5.0
WA                      18.0  1.666667  1.414214  0.0  1.00  1.5  2.00  6.0
WI                      17.0  1.647059  1.656094  0.0  1.00  1.0  2.00  6.0
WV                      18.0  0.888889  0.582983  0.0  1.00  1.0  1.00  2.0
WY                      11.0  1.454545  1.572491  0.0  0.00  1.0  2.00  5.0

[51 rows x 128 columns]

#### agregado de la informacion

In [ ]:
DATOS_AGRUPADOS1.agg(
    MAX_Acc_len = ("Account length", "max")
)

       MAX_Acc_len
State
AK             132
AL             182
AR             185
AZ             163
CA             158
CO             141
CT             199
DC             148
DE             148
FL             144
GA             155
HI             171
IA             143
ID             193
IL             183
IN             141
KS             186
KY             131
LA             172
MA             142
MD             204
ME             176
MI             139
MN             155
MO             167
MS             189
MT             143
NC             190
ND             190
NE             147
NH             155
NJ             197
NM             232
NV             124
NY             209
OH             169
OK             138
OR             166
PA             142
RI             180
SC             209
SD             145
TN             196
TX             217
UT             201
VA             182
VT             195
WA             166
WI             165
WV             191
WY             215

In [ ]:
DATOS_AGRUPADOS1

In [ ]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\TELECOM_CHURN_DATASET\\VISUALIZACION_CHURN_MODEL.csv"
DATASET_AGRUPADO_STATE_INT = pd.read_csv(RUTA).copy()
DATASET_AGRUPADO_STATE_INT

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
dataset_agrupado_state_int = DATASET_AGRUPADO_STATE_INT.groupby(["State","International plan"])
dataset_agrupado_state_int

In [ ]:
dataset_agrupado_state_int.get_group(("CA","Yes")).copy().head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
66,CA,124,408,Yes,No,0,244.6,89,41.58,188.8,80,16.05,206.0,114,9.27,11.3,4,3.05,1,False

In [ ]:
dataset_agrupado_state_int.get_group(("SC", "No")).copy().head(3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
48,SC,78,510,No,No,0,168.3,110,28.61,221.2,73,18.80,241.0,136,10.85,12.5,1,3.38,1,False
175,SC,87,408,No,No,0,322.5,106,54.83,204.6,93,17.39,186.2,128,8.38,9.4,4,2.54,2,True

In [ ]:
dataset_agrupado_state_int.mean()

                          Account length   Area code  Number vmail messages  \
State International plan
AK    No                       80.000000  421.666667              17.666667
AL    No                      101.000000  435.307692               9.923077
      Yes                      55.000000  415.000000               0.000000
AR    No                      107.625000  449.750000              16.250000
AZ    No                       94.333333  439.444444               8.555556
...                                  ...         ...                    ...
WI    Yes                     109.000000  462.500000              14.000000
WV    No                       96.000000  442.500000               5.812500
      Yes                     133.500000  510.000000              20.500000
WY    No                      106.000000  432.600000               3.800000
      Yes                     127.000000  510.000000               0.000000

                          Total day minutes  Total day calls  \
State International plan
AK    No                         170.033333        98.333333
AL    No                         173.561538        98.000000
      Yes                        191.900000        91.000000
AR    No                         184.462500        89.000000
AZ    No                         160.161111        97.444444
...                                     ...              ...
WI    Yes                        203.350000        93.500000
WV    No                         181.562500        98.875000
      Yes                        198.350000       111.500000
WY    No                         174.980000       108.400000
      Yes                        247.500000        99.000000

                          Total day charge  Total eve minutes  \
State International plan
AK    No                         28.905556         182.955556
AL    No                         29.505385         204.323077
      Yes                        32.620000         256.100000
AR    No                         31.358750         189.187500
AZ    No                         27.227778         193.916667
...                                    ...                ...
WI    Yes                        34.570000         207.800000
WV    No                         30.866250         192.518750
      Yes                        33.720000         264.050000
WY    No                         29.746000         187.280000
      Yes                        42.080000         108.500000

                          Total eve calls  Total eve charge  \
State International plan
AK    No                       101.444444         15.551111
AL    No                        99.538462         17.367692
      Yes                      110.000000         21.770000
AR    No                        86.375000         16.081250
AZ    No                       100.777778         16.483333
...                                   ...               ...
WI    Yes                       96.500000         17.665000
WV    No                        90.625000         16.361875
      Yes                      100.000000         22.445000
WY    No                        97.800000         15.918000
      Yes                      118.000000          9.220000

                          Total night minutes  Total night calls  \
State International plan
AK    No                           190.644444          93.888889
AL    No                           197.407692          85.153846
      Yes                          203.700000         101.000000
AR    No                           228.262500         111.500000
AZ    No                           187.516667         100.111111
...                                       ...                ...
WI    Yes                          158.100000          97.500000
WV    No                           211.737500          99.750000
      Yes                          182.650000         100.500000
WY    No                           201.800000         100.000000
      Yes                          232.000000          72.000000

                          Total night charge  Total intl minutes  \
State International plan
AK    No                            8.578889            9.466667
AL    No                            8.883077           10.484615
      Yes                           9.170000           14.300000
AR    No                           10.272500            9.750000
AZ    No                            8.438333           10.844444
...                                      ...                 ...
WI    Yes                           7.110000            8.600000
WV    No                            9.527500           10.956250
      Yes                           8.220000            9.800000
WY    No                            9.081000           10.720000
      Yes                          10.440000           10.600000

                          Total intl calls  Total intl charge  \
State International plan
AK    No                          4.444444           2.557778
AL    No                          4.615385           2.831538
      Yes                         6.000000           3.860000
AR    No                          3.875000           2.632500
AZ    No                          3.888889           2.928333
...                                    ...                ...
WI    Yes                         6.500000           2.325000
WV    No                          4.687500           2.958750
      Yes                         4.000000           2.645000
WY    No                          5.500000           2.896000
      Yes                         3.000000           2.860000

                          Customer service calls     Churn
State International plan
AK    No                                1.777778  0.000000
AL    No                                1.076923  0.000000
      Yes                               1.000000  1.000000
AR    No                                1.000000  0.000000
AZ    No                                2.222222  0.055556
...                                          ...       ...
WI    Yes                               3.500000  1.000000
WV    No                                0.875000  0.062500
      Yes                               1.000000  1.000000
WY    No                                1.400000  0.100000
      Yes                               2.000000  0.000000

[83 rows x 17 columns]

In [ ]:
dataset_agrupado_state_int.size()

State  International plan
AK     No                     9
AL     No                    13
       Yes                    1
AR     No                     8
AZ     No                    18
                             ..
WI     Yes                    2
WV     No                    16
       Yes                    2
WY     No                    10
       Yes                    1
Length: 83, dtype: int64

In [ ]:
dataset_agrupado_state_int.agg(
    MAX_Acc_len = ("Account length", "max"),
    STD_Are_cod = ("Area code","std"),
    MEAN_NV_Messages = ("Number vmail messages","mean"),
    VAR_TD_Minutes = ("Total day minutes", "var"),
    SUM_DT_Calls = ("Total day calls", "sum"),
    MIN_DT_Charge = ("Total day charge", "min"),
    Acc_len_25 = ("Account length",lambda X : X.quantile(0.25)),
    Acc_len_50 = ("Account length",lambda X : X.quantile(0.50)),
    Acc_len_75 = ("Account length",lambda X : X.quantile(0.75)),

).head(50)

                          MAX_Acc_len  STD_Are_cod  MEAN_NV_Messages  \
State International plan
AK    No                          132    33.297898         17.666667
AL    No                          182    42.681738          9.923077
      Yes                          55          NaN          0.000000
AR    No                          185    49.947830         16.250000
AZ    No                          163    45.123650          8.555556
      Yes                          92          NaN         45.000000
CA    No                          158    49.874286          6.333333
      Yes                         124          NaN          0.000000
CO    No                          141     3.741657          9.857143
CT    No                          199    27.542275         20.153846
      Yes                         184     0.000000         17.500000
DC    No                          148     3.500000         12.666667
DE    No                          148    34.440166          6.875000
      Yes                          89     0.000000          0.000000
FL    No                          144    45.160033         10.375000
      Yes                         136          NaN          0.000000
GA    No                          155    54.007407          0.000000
HI    No                          171    49.343186          3.777778
IA    No                          143    53.372902          9.666667
ID    No                          193    44.132592          7.666667
      Yes                         138     0.000000         24.500000
IL    No                          183    50.334879          5.700000
      Yes                          87     4.041452         21.666667
IN    No                          141    32.649205         11.352941
KS    No                          186    44.444937          9.000000
      Yes                         166     4.041452          9.333333
KY    No                          131    25.539512          5.200000
      Yes                          64          NaN          0.000000
LA    No                          172    38.801149          7.125000
MA    No                          142     3.689324          6.700000
      Yes                         136    58.889727          0.000000
MD    No                          204    50.699218         13.250000
      Yes                          93    67.175144          0.000000
ME    No                          176    28.359569         10.000000
      Yes                          75          NaN          0.000000
MI    No                          139    41.660256         14.384615
      Yes                         126     4.949747         13.000000
MN    No                          150    46.049583          6.307692
      Yes                         155          NaN          0.000000
MO    No                          120    49.057789          9.400000
      Yes                         167     0.000000          0.000000
MS    No                          189    47.457450          8.733333
      Yes                          98     4.949747         11.500000
MT    No                          143    44.444937          6.733333
NC    No                          190    38.751735          7.583333
ND    No                          190    39.508438          6.312500
      Yes                         167    72.124892          0.000000
NE    No                          147    41.069560          5.642857
      Yes                         127    67.175144          8.000000
NH    No                          155    43.906807         13.692308

                          VAR_TD_Minutes  SUM_DT_Calls  MIN_DT_Charge  \
State International plan
AK    No                     2160.165000           885          17.02
AL    No                     3886.262564          1274          11.68
      Yes                            NaN            91          32.62
AR    No                      623.231250           712          26.28
AZ    No                     3984.217810          1754          10.01
      Yes                            NaN            88          47.79
CA    No                     3363.145000          1048          18.34
      Yes                            NaN            89          41.58
CO    No                     4484.456190           680          14.60
CT    No                     4286.784103          1234          13.65
      Yes                     760.500000           232          29.72
DC    No                     5562.603611          1002           8.76
DE    No                     5177.521250           798          16.05
      Yes                    7812.500000           193          21.35
FL    No                     3607.490714           883          20.25
      Yes                            NaN           122          33.86
GA    No                     3606.640000           439          12.10
HI    No                     2574.566111          1005          20.28
IA    No                     1104.078667           577          19.33
ID    No                     3447.429810          1478          16.46
      Yes                    8515.125000           227          16.10
IL    No                     2630.257889           979          18.41
      Yes                    2627.310000           372          29.10
IN    No                     3669.388824          1887          19.35
KS    No                     1588.756952          1500          17.56
      Yes                   11180.923333           356          10.64
KY    No                     1286.380286          1576          19.62
      Yes                            NaN            83          24.94
LA    No                     2962.327833          1675          19.70
MA    No                     3840.979556          1042          17.95
      Yes                     481.223333           323          32.79
MD    No                     3709.478393           931          17.53
      Yes                     307.520000           154          18.12
ME    No                     3339.210000          1183          19.64
      Yes                            NaN            61          35.92
MI    No                     2505.452436          1404          20.23
      Yes                     100.820000           237          19.57
MN    No                     2545.077564          1257          21.90
      Yes                            NaN           146          42.64
MO    No                     3548.069333           995          14.20
      Yes                    3907.280000           207          26.59
MS    No                     4763.720286          1499          12.80
      Yes                      43.245000           131          40.15
MT    No                     2018.908381          1424          19.26
NC    No                     2436.702045          1215          16.30
ND    No                     1911.389333          1565          15.56
      Yes                       2.880000           217          36.84
NE    No                     4486.166813          1495           9.89
      Yes                     188.180000           186          30.75
NH    No                     3127.569744          1195          11.63

                          Acc_len_25  Acc_len_50  Acc_len_75
State International plan
AK    No                       55.00        96.0      110.00
AL    No                       72.00        85.0      121.00
      Yes                      55.00        55.0       55.00
AR    No                       61.50        96.5      153.75
AZ    No                       72.75        90.5       99.25
      Yes                      92.00        92.0       92.00
CA    No                       75.00        84.0      111.00
      Yes                     124.00       124.0      124.00
CO    No                       94.00       103.0      131.00
CT    No                       95.00       116.0      134.00
      Yes                     154.00       164.0      174.00
DC    No                       80.00       102.0      123.00
DE    No                       97.50       124.0      133.00
      Yes                      83.00        85.0       87.00
FL    No                       97.00       106.0      131.00
      Yes                     136.00       136.0      136.00
GA    No                      131.00       133.0      136.00
HI    No                       86.00       105.0      111.00
IA    No                       76.75        90.0       98.00
ID    No                       90.00       105.0      120.50
      Yes                      96.75       110.5      124.25
IL    No                       87.75       120.0      130.75
      Yes                      61.50        68.0       77.50
IN    No                       72.00       100.0      114.00
KS    No                       81.00       116.0      127.50
      Yes                      98.50       105.0      135.50
KY    No                       66.00        95.0      112.50
      Yes                      64.00        64.0       64.00
LA    No                       87.00       103.5      118.00
MA    No                       80.00        88.5      106.50
      Yes                     115.50       129.0      132.50
MD    No                      127.25       146.5      169.50
      Yes                      51.00        65.0       79.00
ME    No                       53.00        80.0      116.50
      Yes                      75.00        75.0       75.00
MI    No                       61.00        79.0       91.00
      Yes                     112.50       117.0      121.50
MN    No                       55.00        85.0      116.00
      Yes                     155.00       155.0      155.00
MO    No                       40.75        70.0       90.50
      Yes                     117.50       134.0      150.50
MS    No                       69.50        84.0      118.00
      Yes                      72.50        81.0       89.50
MT    No                      100.50       109.0      120.00
NC    No                       75.75       102.5      156.75
ND    No                       70.75       114.0      123.25
      Yes                      50.75        89.5      128.25
NE    No                       69.50        89.0      121.50
      Yes                     115.75       119.5      123.25
NH    No                       83.00        90.0      123.00

#### Ordenar un dataset agrupado

In [ ]:
dataset_agrupado_state_int = dataset_agrupado_state_int.sort_values(["Total day minutes"],
                                                                    ascending = False).reset_index()
dataset_agrupado_state_int = DATASET.drop("index",axis = 1)

dataset_agrupado_state_int = DATASET_AGRUPADO_STATE_INT.groupby(["State"])
dataset_agrupado_state_int

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [ ]:
dataset_agrupado_state_int.get_group("KS")

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
47,KS,92,408,Yes,No,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,True
128,KS,121,408,No,No,0,150.7,105,25.62,197.3,133,16.77,169.0,116,7.61,9.2,15,2.48,1,False
141,KS,116,510,No,No,0,189.5,90,32.22,189.8,118,16.13,205.8,83,9.26,13.1,2,3.54,1,False
147,KS,88,415,No,No,0,189.8,111,32.27,197.3,101,16.77,234.5,111,10.55,14.9,3,4.02,2,False
220,KS,67,408,No,No,0,201.4,101,34.24,97.6,122,8.30,202.5,119,9.11,7.0,3,1.89,0,False
240,KS,159,415,No,Yes,19,184.1,78,31.30,194.5,71,16.53,225.6,101,10.15,16.9,3,4.56,0,False
247,KS,128,415,No,No,0,103.3,122,17.56,245.9,123,20.90,161.1,95,7.25,6.4,7,1.73,0,False
327,KS,105,415,Yes,No,0,273.9,119,46.56,278.6,103,23.68,255.3,90,11.49,10.9,7,2.94,1,True
365,KS,120,510,No,No,0,158.0,110,26.86,197.0,103,16.75,154.9,132,6.97,10.0,5,2.70,1,False
381,KS,138,510,No,Yes,26,183.9,83,31.26,240.7,93,20.46,185.7,125,8.36,15.0,3,4.05,1,False
407,KS,74,415,No,Yes,32,174.6,107,29.68,310.6,115,26.40,234.7,92,10.56,9.0,4,2.43,1,False
420,KS,94,408,No,No,0,269.2,104,45.76,193.8,144,16.47,257.6,61,11.59,8.9,2,2.40,3,True
533,KS,186,510,No,No,0,137.8,97,23.43,187.7,118,15.95,146.4,85,6.59,8.7,6,2.35,1,False
543,KS,166,415,Yes,Yes,28,175.8,126,29.89,253.6,76,21.56,128.5,72,5.78,11.4,5,3.08,1,False
568,KS,65,415,No,Yes,34,208.8,119,35.50,142.1,106,12.08,214.6,87,9.66,12.5,4,3.38,4,False
648,KS,101,415,No,No,0,231.3,87,39.32,224.7,88,19.10,214.6,69,9.66,7.2,7,1.94,1,False
649,KS,127,415,No,Yes,24,154.8,69,26.32,177.2,105,15.06,207.6,102,9.34,9.0,4,2.43,1,False
658,KS,57,415,No,No,0,158.1,117,26.88,115.2,149,9.79,182.4,92,8.21,11.8,7,3.19,0,False